<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>about</key>
	<dict>
		<key>app</key>
		<string>LevelHelper 2</string>
		<key>author</key>
		<string>Vladu Bogdan</string>
		<key>web</key>
		<string>http://www.gamedevhelper.com</string>
	</dict>
	<key>frames</key>
	<dict>
		<key>carBody</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array>
					<dict>
						<key>category</key>
						<integer>1</integer>
						<key>density</key>
						<real>0.10000000000000001</real>
						<key>friction</key>
						<real>0.20000000000000001</real>
						<key>mask</key>
						<integer>65535</integer>
						<key>name</key>
						<string>carShapeWithHole</string>
						<key>points</key>
						<array>
							<array>
								<string>{98.600003957748413, 4.700000524520874}</string>
								<string>{99.200003981590271, 25.700001358985901}</string>
								<string>{95.600003838539124, 32.300001621246338}</string>
								<string>{76.40000307559967, 23.900001287460327}</string>
								<string>{72.800002932548523, -3.6999998092651367}</string>
								<string>{80.600003242492676, -10.900000095367432}</string>
							</array>
							<array>
								<string>{-83.200003266334534, 17.30000102519989}</string>
								<string>{76.40000307559967, 23.900001287460327}</string>
								<string>{95.600003838539124, 32.300001621246338}</string>
								<string>{-95.200003743171692, 31.70000159740448}</string>
								<string>{-100.60000395774841, 28.70000147819519}</string>
							</array>
							<array>
								<string>{32.600001335144043, -26.500000715255737}</string>
								<string>{62.600002527236938, -19.9000004529953}</string>
								<string>{80.600003242492676, -10.900000095367432}</string>
								<string>{72.800002932548523, -3.6999998092651367}</string>
								<string>{-85.600003361701965, -10.900000095367432}</string>
								<string>{20.600000858306885, -27.100000739097595}</string>
							</array>
							<array>
								<string>{6.8000003099441528, -48.70000159740448}</string>
								<string>{12.800000548362732, -43.900001406669617}</string>
								<string>{20.600000858306885, -27.100000739097595}</string>
								<string>{-85.600003361701965, -10.900000095367432}</string>
								<string>{-55.60000216960907, -27.100000739097595}</string>
							</array>
							<array>
								<string>{-83.200003266334534, 17.30000102519989}</string>
								<string>{-100.60000395774841, 28.70000147819519}</string>
								<string>{-101.20000398159027, -12.100000143051147}</string>
								<string>{-85.600003361701965, -10.900000095367432}</string>
							</array>
							<array>
								<string>{-85.600003361701965, -10.900000095367432}</string>
								<string>{-101.20000398159027, -12.100000143051147}</string>
								<string>{-65.200002551078796, -27.100000739097595}</string>
								<string>{-55.60000216960907, -27.100000739097595}</string>
							</array>
							<array>
								<string>{-55.60000216960907, -27.100000739097595}</string>
								<string>{-45.400001764297485, -48.100001573562622}</string>
								<string>{6.8000003099441528, -48.70000159740448}</string>
							</array>
						</array>
						<key>restitution</key>
						<integer>0</integer>
						<key>sensor</key>
						<false/>
						<key>shapeID</key>
						<integer>2</integer>
					</dict>
				</array>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>frame</key>
			<string>{{2.000000, 2.000000}, {201.000000, 81.000000}}</string>
			<key>offset</key>
			<string>{-1.000000, 8.500000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6.000000, 8.000000}, {201.000000, 81.000000}}</string>
			<key>sourceSize</key>
			<string>{215.000000, 114.000000}</string>
			<key>uuid</key>
			<string>9015E100-C10C-4DE0-A4C3-A69E08983DEC</string>
		</dict>
		<key>carTyre</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array>
					<dict>
						<key>category</key>
						<integer>1</integer>
						<key>center</key>
						<string>{-0.500000, 0.000000}</string>
						<key>density</key>
						<real>0.10000000000000001</real>
						<key>friction</key>
						<real>0.20000000000000001</real>
						<key>mask</key>
						<integer>65535</integer>
						<key>name</key>
						<string>UntitledCircleShape</string>
						<key>radius</key>
						<real>22.673439999999999</real>
						<key>restitution</key>
						<integer>0</integer>
						<key>sensor</key>
						<false/>
						<key>shapeID</key>
						<integer>0</integer>
					</dict>
				</array>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>frame</key>
			<string>{{2.000000, 88.000000}, {51.000000, 51.000000}}</string>
			<key>offset</key>
			<string>{-0.500000, 0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2.000000, 2.000000}, {51.000000, 51.000000}}</string>
			<key>sourceSize</key>
			<string>{56.000000, 55.000000}</string>
			<key>uuid</key>
			<string>F2BF5807-ACFF-44E8-BAA8-94A87CAC4F40</string>
		</dict>
		<key>wood</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array>
					<dict>
						<key>category</key>
						<integer>1</integer>
						<key>density</key>
						<real>0.10000000000000001</real>
						<key>friction</key>
						<real>0.20000000000000001</real>
						<key>mask</key>
						<integer>65535</integer>
						<key>name</key>
						<string>UntitledRectangleShape</string>
						<key>points</key>
						<array>
							<array>
								<string>{-76.800003051757812, -19.200000762939453}</string>
								<string>{76.800003051757812, -19.200000762939453}</string>
								<string>{76.800003051757812, 19.200000762939453}</string>
								<string>{-76.800003051757812, 19.200000762939453}</string>
							</array>
						</array>
						<key>restitution</key>
						<integer>0</integer>
						<key>sensor</key>
						<false/>
						<key>shapeID</key>
						<integer>0</integer>
					</dict>
				</array>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>frame</key>
			<string>{{58.000000, 88.000000}, {154.000000, 38.000000}}</string>
			<key>offset</key>
			<string>{0.000000, 0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 0.000000}, {154.000000, 38.000000}}</string>
			<key>sourceSize</key>
			<string>{154.000000, 38.000000}</string>
			<key>uuid</key>
			<string>479A7CE8-61E5-46D5-9334-503D86C53BFE</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>ratio</key>
		<real>1.2</real>
		<key>size</key>
		<string>{214.000000, 141.000000}</string>
		<key>textureFileName</key>
		<string>carParts.png</string>
	</dict>
</dict>
</plist>
