<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspect</key>
	<integer>0</integer>
	<key>backgroundColor</key>
	<string>{{1, 0.99997437000274658}, {0.99999129772186279, 1}}</string>
	<key>children</key>
	<array>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.5, 0.5}</string>
			<key>colorOverlay</key>
			<string>{{1, 1}, {1, 1}}</string>
			<key>generalPosition</key>
			<string>{0.52734376337709066, 0.2599011134763714}</string>
			<key>imageFileName</key>
			<string>carTire.png</string>
			<key>name</key>
			<string>carTire</string>
			<key>nodePhysics</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>genericFixture</key>
				<dict>
					<key>category</key>
					<integer>1</integer>
					<key>collisionCategories</key>
					<array>
						<string>DEFAULT</string>
						<string>BlueRobot</string>
						<string>GreenRobot</string>
						<string>PinkRobot</string>
						<string>Category_05</string>
						<string>Category_06</string>
						<string>Category_07</string>
						<string>Category_08</string>
						<string>Category_09</string>
						<string>Category_10</string>
						<string>Category_11</string>
						<string>Category_12</string>
						<string>Category_13</string>
						<string>Category_14</string>
						<string>Category_15</string>
						<string>Category_16</string>
					</array>
					<key>density</key>
					<real>0.10000000149011612</real>
					<key>fixtureID</key>
					<integer>0</integer>
					<key>friction</key>
					<real>0.20000000298023224</real>
					<key>ignoreCategories</key>
					<array/>
					<key>mask</key>
					<integer>65535</integer>
					<key>name</key>
					<string>GenericFixture</string>
					<key>restitution</key>
					<real>0.0</real>
					<key>sensor</key>
					<false/>
				</dict>
				<key>gravityScale</key>
				<real>1</real>
				<key>shape</key>
				<integer>1</integer>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>nodeType</key>
			<string>LHSprite</string>
			<key>parentUUID</key>
			<string>4416E4CC-6A0D-4852-8183-2D01FAA2ACE3</string>
			<key>relativeImagePath</key>
			<string>images/</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1, 1}</string>
			<key>size</key>
			<string>{96, 93}</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>uuid</key>
			<string>D010DCB4-0FA8-44F8-9328-C242C7FAE643</string>
			<key>zOrder</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>areaSize</key>
			<string>{128, 128}</string>
			<key>direction</key>
			<string>{0, 1}</string>
			<key>force</key>
			<real>80</real>
			<key>generalPosition</key>
			<string>{0.26679479678471885, 0.3223175287246704}</string>
			<key>name</key>
			<string>UntitledGravityArea_3</string>
			<key>nodeType</key>
			<string>LHAreaGravity</string>
			<key>parentUUID</key>
			<string>4416E4CC-6A0D-4852-8183-2D01FAA2ACE3</string>
			<key>scale</key>
			<string>{3.3315551280975342, 3.3315551280975342}</string>
			<key>size</key>
			<string>{128, 128}</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>type</key>
			<integer>1</integer>
			<key>uuid</key>
			<string>92A2FD0D-40C1-4763-984A-B2EB4504A29A</string>
		</dict>
		<dict>
			<key>areaSize</key>
			<string>{128, 128}</string>
			<key>direction</key>
			<string>{1, 0}</string>
			<key>force</key>
			<real>10</real>
			<key>generalPosition</key>
			<string>{0.29672826131184898, 0.77344484329223628}</string>
			<key>name</key>
			<string>UntitledGravityArea_2</string>
			<key>nodeType</key>
			<string>LHAreaGravity</string>
			<key>parentUUID</key>
			<string>4416E4CC-6A0D-4852-8183-2D01FAA2ACE3</string>
			<key>scale</key>
			<string>{4.3118009567260742, 2.1363039016723633}</string>
			<key>size</key>
			<string>{128, 128}</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>type</key>
			<integer>0</integer>
			<key>uuid</key>
			<string>6F922453-F86D-4F9A-A9E4-D80F02ACBFB5</string>
		</dict>
		<dict>
			<key>areaSize</key>
			<string>{128, 128}</string>
			<key>direction</key>
			<string>{-4.3711390001862412e-08, 0.999999999999999}</string>
			<key>force</key>
			<real>10</real>
			<key>generalPosition</key>
			<string>{0.78605143229166663, 0.76179199218750004}</string>
			<key>name</key>
			<string>UntitledGravityArea_1</string>
			<key>nodeType</key>
			<string>LHAreaGravity</string>
			<key>parentUUID</key>
			<string>4416E4CC-6A0D-4852-8183-2D01FAA2ACE3</string>
			<key>scale</key>
			<string>{2.9907591342926025, 2.4124026298522949}</string>
			<key>size</key>
			<string>{128, 128}</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>type</key>
			<integer>0</integer>
			<key>uuid</key>
			<string>307F29E8-BE07-46F7-AE73-53D7310D7C6C</string>
		</dict>
		<dict>
			<key>areaSize</key>
			<string>{128, 128}</string>
			<key>direction</key>
			<string>{-0.99999999999999623, 8.7422780003724745e-08}</string>
			<key>force</key>
			<real>10</real>
			<key>generalPosition</key>
			<string>{0.79146728515624998, 0.27816956043243407}</string>
			<key>name</key>
			<string>UntitledGravityArea</string>
			<key>nodeType</key>
			<string>LHAreaGravity</string>
			<key>parentUUID</key>
			<string>4416E4CC-6A0D-4852-8183-2D01FAA2ACE3</string>
			<key>scale</key>
			<string>{2.9907591342926025, 2.5924253463745117}</string>
			<key>size</key>
			<string>{128, 128}</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>type</key>
			<integer>0</integer>
			<key>uuid</key>
			<string>172A448E-B394-4D7D-9607-BCA36AAA0C24</string>
		</dict>
	</array>
	<key>designResolution</key>
	<string>{960, 640}</string>
	<key>devices</key>
	<array>
		<dict>
			<key>ratio</key>
			<real>1</real>
			<key>size</key>
			<string>{960, 640}</string>
			<key>suffix</key>
			<string></string>
		</dict>
		<dict>
			<key>ratio</key>
			<real>1</real>
			<key>size</key>
			<string>{1136, 640}</string>
			<key>suffix</key>
			<string>-iphone5</string>
		</dict>
		<dict>
			<key>ratio</key>
			<real>1</real>
			<key>size</key>
			<string>{1024, 768}</string>
			<key>suffix</key>
			<string>-ipad</string>
		</dict>
		<dict>
			<key>ratio</key>
			<real>2</real>
			<key>size</key>
			<string>{2048, 1536}</string>
			<key>suffix</key>
			<string>-ipadhd</string>
		</dict>
	</array>
	<key>globalGravityDirection</key>
	<string>{0, -1}</string>
	<key>globalGravityForce</key>
	<real>8</real>
	<key>nodeType</key>
	<string>LHScene</string>
	<key>physicsBoundaries</key>
	<dict>
		<key>1024x768</key>
		<string>{{0, 0}, {1, 1}}</string>
		<key>1136x640</key>
		<string>{{0, 0}, {1, 1}}</string>
		<key>2048x1536</key>
		<string>{{0, 0}, {1, 1}}</string>
		<key>960x640</key>
		<string>{{0, 0}, {1, 1}}</string>
		<key>general</key>
		<string>{{0, 0}, {1, 1}}</string>
	</dict>
	<key>tags</key>
	<array>
		<string>DEFAULT</string>
	</array>
	<key>tracedFixtures</key>
	<dict>
		<key>AC77444D-950E-44EC-AE0C-355D6F140D10</key>
		<array>
			<array>
				<string>{2.75, -10}</string>
				<string>{25.75, -26.5}</string>
				<string>{30.75, -25.5}</string>
				<string>{31.25, -16.5}</string>
				<string>{30.25, 17.5}</string>
				<string>{19.25, 24}</string>
				<string>{6.25, 27}</string>
			</array>
			<array>
				<string>{31.25, -16.5}</string>
				<string>{36.75, -15}</string>
				<string>{38.25, -11.5}</string>
				<string>{39.75, 3}</string>
				<string>{37.25, 9}</string>
				<string>{30.25, 17.5}</string>
			</array>
			<array>
				<string>{-24.25, -23}</string>
				<string>{-23.75, -14}</string>
				<string>{-33.75, -11}</string>
			</array>
			<array>
				<string>{-24.25, -23}</string>
				<string>{-33.75, -11}</string>
				<string>{-36.75, -15}</string>
			</array>
			<array>
				<string>{-24.25, -23}</string>
				<string>{-36.75, -15}</string>
				<string>{-36.75, -21}</string>
			</array>
			<array>
				<string>{-29.75, -27}</string>
				<string>{-24.25, -23}</string>
				<string>{-36.75, -21}</string>
			</array>
			<array>
				<string>{-29.75, -27}</string>
				<string>{-36.75, -21}</string>
				<string>{-35.75, -24}</string>
			</array>
			<array>
				<string>{-29.75, -27}</string>
				<string>{-35.75, -24}</string>
				<string>{-33.75, -26.5}</string>
			</array>
			<array>
				<string>{-29.75, -27}</string>
				<string>{-33.75, -26.5}</string>
				<string>{-33.25, -27}</string>
			</array>
			<array>
				<string>{-33.25, 10.5}</string>
				<string>{-36.25, 2.5}</string>
				<string>{-33.75, -11}</string>
				<string>{-23.75, -14}</string>
				<string>{-16.25, -9.5}</string>
				<string>{-25.75, 19}</string>
			</array>
			<array>
				<string>{-17.25, 24}</string>
				<string>{-25.75, 19}</string>
				<string>{-16.25, -9.5}</string>
				<string>{-10.75, -8}</string>
				<string>{-11.25, 26}</string>
			</array>
			<array>
				<string>{-5.25, 27}</string>
				<string>{-11.25, 26}</string>
				<string>{-10.75, -8}</string>
				<string>{-4.75, -8}</string>
				<string>{6.25, 27}</string>
			</array>
			<array>
				<string>{6.25, 27}</string>
				<string>{-4.75, -8}</string>
				<string>{2.75, -10}</string>
			</array>
		</array>
		<key>F26B29A2-902A-4D1C-A112-7A161F1C05D6</key>
		<array>
			<array>
				<string>{13.5, 30.5}</string>
				<string>{-5, 30.5}</string>
				<string>{-6, -31.5}</string>
			</array>
			<array>
				<string>{34.5, -5.5}</string>
				<string>{35, 27}</string>
				<string>{23.5, 29.5}</string>
			</array>
			<array>
				<string>{23.5, 29.5}</string>
				<string>{13.5, 30.5}</string>
				<string>{-6, -31.5}</string>
			</array>
			<array>
				<string>{34.5, -5.5}</string>
				<string>{23.5, 29.5}</string>
				<string>{-6, -31.5}</string>
			</array>
			<array>
				<string>{31, -17.5}</string>
				<string>{34.5, -5.5}</string>
				<string>{-6, -31.5}</string>
			</array>
			<array>
				<string>{29, -21.5}</string>
				<string>{31, -17.5}</string>
				<string>{-6, -31.5}</string>
			</array>
			<array>
				<string>{25, -26.5}</string>
				<string>{29, -21.5}</string>
				<string>{-6, -31.5}</string>
			</array>
			<array>
				<string>{19.5, -29.5}</string>
				<string>{25, -26.5}</string>
				<string>{-6, -31.5}</string>
			</array>
			<array>
				<string>{14.5, -31}</string>
				<string>{19.5, -29.5}</string>
				<string>{-6, -31.5}</string>
			</array>
			<array>
				<string>{7.5, -32}</string>
				<string>{14.5, -31}</string>
				<string>{-6, -31.5}</string>
			</array>
			<array>
				<string>{7.5, -32}</string>
				<string>{-6, -31.5}</string>
				<string>{-5.5, -32}</string>
			</array>
			<array>
				<string>{-35, -3.5}</string>
				<string>{-5, 30.5}</string>
				<string>{-27.5, 28.5}</string>
			</array>
			<array>
				<string>{-35, -3.5}</string>
				<string>{-27.5, 28.5}</string>
				<string>{-39.5, 26}</string>
			</array>
			<array>
				<string>{-46, 2}</string>
				<string>{-35, -3.5}</string>
				<string>{-39.5, 26}</string>
			</array>
			<array>
				<string>{-46, 2}</string>
				<string>{-39.5, 26}</string>
				<string>{-50.5, 21}</string>
			</array>
			<array>
				<string>{-53, 9}</string>
				<string>{-46, 2}</string>
				<string>{-50.5, 21}</string>
			</array>
			<array>
				<string>{-53, 9}</string>
				<string>{-50.5, 21}</string>
				<string>{-54, 16.5}</string>
			</array>
			<array>
				<string>{-53, 9}</string>
				<string>{-54, 16.5}</string>
				<string>{-54, 11}</string>
			</array>
			<array>
				<string>{-5, 30.5}</string>
				<string>{-35, -3.5}</string>
				<string>{-31.5, -14.5}</string>
				<string>{-27, -22.5}</string>
				<string>{-22.5, -27}</string>
				<string>{-19, -29}</string>
				<string>{-12.5, -31}</string>
				<string>{-6, -31.5}</string>
			</array>
			<array>
				<string>{53.5, 13.5}</string>
				<string>{49.5, 19.5}</string>
				<string>{45.5, 22.5}</string>
				<string>{35, 27}</string>
				<string>{34.5, -5.5}</string>
				<string>{47, -1}</string>
				<string>{52.5, 4.5}</string>
				<string>{54, 10}</string>
			</array>
		</array>
	</dict>
	<key>useGlobalGravity</key>
	<true/>
	<key>uuid</key>
	<string>4416E4CC-6A0D-4852-8183-2D01FAA2ACE3</string>
</dict>
</plist>
