<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspect</key>
	<integer>0</integer>
	<key>backgroundColor</key>
	<string>{{0.10885537415742874, 0.85956597328186035}, {0.99884289503097534, 1}}</string>
	<key>children</key>
	<array>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.5, 0.5}</string>
			<key>colorOverlay</key>
			<string>{{1, 1}, {1, 1}}</string>
			<key>generalPosition</key>
			<string>{0.5, 0.5}</string>
			<key>imageFileName</key>
			<string>bgrd.png</string>
			<key>name</key>
			<string>bgrd</string>
			<key>nodeType</key>
			<string>LHSprite</string>
			<key>parentUUID</key>
			<string>9412E44F-91B2-4696-9B5A-BE6712E5A90C</string>
			<key>relativeImagePath</key>
			<string>images/</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1, 1}</string>
			<key>size</key>
			<string>{960, 640}</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>uuid</key>
			<string>09103634-42FF-4EA7-96A3-91039CDD56BC</string>
			<key>zOrder</key>
			<integer>-2</integer>
		</dict>
		<dict>
			<key>alpha</key>
			<real>178.5</real>
			<key>anchor</key>
			<string>{0.5, 0.5}</string>
			<key>colorOverlay</key>
			<string>{{0.22352941334247589, 0.34509804844856262}, {0.47450980544090271, 1}}</string>
			<key>generalPosition</key>
			<string>{0.50134452531735108, 0.71348410844802856}</string>
			<key>height</key>
			<real>60</real>
			<key>name</key>
			<string>UntitledWaterArea</string>
			<key>nodeType</key>
			<string>LHWaves</string>
			<key>numLines</key>
			<real>100</real>
			<key>parentUUID</key>
			<string>9412E44F-91B2-4696-9B5A-BE6712E5A90C</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{12.108317375183105, 6.056027889251709}</string>
			<key>size</key>
			<string>{60, 60}</string>
			<key>splash</key>
			<true/>
			<key>splashH</key>
			<real>11.600000381469727</real>
			<key>splashT</key>
			<real>30</real>
			<key>splashW</key>
			<real>20</real>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>turbulence</key>
			<true/>
			<key>turbulenceH</key>
			<real>2.0999999046325684</real>
			<key>turbulenceL</key>
			<real>1.7999999523162842</real>
			<key>turbulenceV</key>
			<real>0.10000000894069672</real>
			<key>turbulenceVelocity</key>
			<real>0.0</real>
			<key>uuid</key>
			<string>73C503C0-0887-46E9-AA4E-E978A7BD58EE</string>
			<key>waterDensity</key>
			<real>0.49999997019767761</real>
			<key>width</key>
			<real>60</real>
			<key>zOrder</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.5, 0.5}</string>
			<key>colorOverlay</key>
			<string>{{1, 1}, {1, 1}}</string>
			<key>generalPosition</key>
			<string>{0.93754434401703746, 0.89838246439122893}</string>
			<key>imageFileName</key>
			<string>tile.png</string>
			<key>name</key>
			<string>tile_1</string>
			<key>nodeType</key>
			<string>LHSprite</string>
			<key>parentUUID</key>
			<string>9412E44F-91B2-4696-9B5A-BE6712E5A90C</string>
			<key>relativeImagePath</key>
			<string>images/</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1, 1}</string>
			<key>size</key>
			<string>{128, 128}</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>uuid</key>
			<string>0D1E0C23-5FDF-4774-8DF6-F2857BB51620</string>
			<key>zOrder</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.5, 0.5}</string>
			<key>colorOverlay</key>
			<string>{{1, 1}, {1, 1}}</string>
			<key>generalPosition</key>
			<string>{0.93751520402798172, 0.69863945044582076}</string>
			<key>imageFileName</key>
			<string>tile.png</string>
			<key>name</key>
			<string>tile_4</string>
			<key>nodeType</key>
			<string>LHSprite</string>
			<key>parentUUID</key>
			<string>9412E44F-91B2-4696-9B5A-BE6712E5A90C</string>
			<key>relativeImagePath</key>
			<string>images/</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1, 1}</string>
			<key>size</key>
			<string>{128, 128}</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>uuid</key>
			<string>EDCFFE1C-D7C2-4D53-9B9E-65ED70337C12</string>
			<key>zOrder</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.5, 0.5}</string>
			<key>colorOverlay</key>
			<string>{{1, 1}, {1, 1}}</string>
			<key>generalPosition</key>
			<string>{0.93749991046954306, 0.49877983372663454}</string>
			<key>imageFileName</key>
			<string>tile.png</string>
			<key>name</key>
			<string>tile_5</string>
			<key>nodeType</key>
			<string>LHSprite</string>
			<key>parentUUID</key>
			<string>9412E44F-91B2-4696-9B5A-BE6712E5A90C</string>
			<key>relativeImagePath</key>
			<string>images/</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1, 1}</string>
			<key>size</key>
			<string>{128, 128}</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>uuid</key>
			<string>2E22391C-431B-4C7F-9C6A-6CAD19F3A79A</string>
			<key>zOrder</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.5, 0.5}</string>
			<key>colorOverlay</key>
			<string>{{1, 1}, {1, 1}}</string>
			<key>generalPosition</key>
			<string>{0.063403859616933053, 0.69785549200617181}</string>
			<key>imageFileName</key>
			<string>tile.png</string>
			<key>name</key>
			<string>tile</string>
			<key>nodeType</key>
			<string>LHSprite</string>
			<key>parentUUID</key>
			<string>9412E44F-91B2-4696-9B5A-BE6712E5A90C</string>
			<key>relativeImagePath</key>
			<string>images/</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1, 1}</string>
			<key>size</key>
			<string>{128, 128}</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>uuid</key>
			<string>DD6135BA-326E-4461-A6EA-1CBCB1263634</string>
			<key>zOrder</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.5, 0.5}</string>
			<key>colorOverlay</key>
			<string>{{1, 1}, {1, 1}}</string>
			<key>generalPosition</key>
			<string>{0.063388566058494439, 0.49799587528698563}</string>
			<key>imageFileName</key>
			<string>tile.png</string>
			<key>name</key>
			<string>tile_2</string>
			<key>nodeType</key>
			<string>LHSprite</string>
			<key>parentUUID</key>
			<string>9412E44F-91B2-4696-9B5A-BE6712E5A90C</string>
			<key>relativeImagePath</key>
			<string>images/</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1, 1}</string>
			<key>size</key>
			<string>{128, 128}</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>uuid</key>
			<string>BC154D64-7E1B-40EE-A581-FD5F150AF8AF</string>
			<key>zOrder</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.5, 0.5}</string>
			<key>colorOverlay</key>
			<string>{{1, 1}, {1, 1}}</string>
			<key>generalPosition</key>
			<string>{0.063432999605988749, 0.89759850595157997}</string>
			<key>imageFileName</key>
			<string>tile.png</string>
			<key>name</key>
			<string>tile_3</string>
			<key>nodeType</key>
			<string>LHSprite</string>
			<key>parentUUID</key>
			<string>9412E44F-91B2-4696-9B5A-BE6712E5A90C</string>
			<key>relativeImagePath</key>
			<string>images/</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1, 1}</string>
			<key>size</key>
			<string>{128, 128}</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>uuid</key>
			<string>39145C97-3347-4178-81E3-27D0CB61685B</string>
			<key>zOrder</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.5, 0.5}</string>
			<key>colorOverlay</key>
			<string>{{1, 1}, {1, 1}}</string>
			<key>generalPosition</key>
			<string>{0.46609010067581053, 0.10539746952628129}</string>
			<key>imageFileName</key>
			<string>carTire.png</string>
			<key>name</key>
			<string>carTire</string>
			<key>nodePhysics</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>genericFixture</key>
				<dict>
					<key>category</key>
					<integer>1</integer>
					<key>collisionCategories</key>
					<array>
						<string>DEFAULT</string>
						<string>BlueRobot</string>
						<string>GreenRobot</string>
						<string>PinkRobot</string>
						<string>Category_05</string>
						<string>Category_06</string>
						<string>Category_07</string>
						<string>Category_08</string>
						<string>Category_09</string>
						<string>Category_10</string>
						<string>Category_11</string>
						<string>Category_12</string>
						<string>Category_13</string>
						<string>Category_14</string>
						<string>Category_15</string>
						<string>Category_16</string>
					</array>
					<key>density</key>
					<real>1</real>
					<key>fixtureID</key>
					<integer>0</integer>
					<key>friction</key>
					<real>0.20000000298023224</real>
					<key>ignoreCategories</key>
					<array/>
					<key>mask</key>
					<integer>65535</integer>
					<key>name</key>
					<string>GenericFixture</string>
					<key>restitution</key>
					<real>0.0</real>
					<key>sensor</key>
					<false/>
				</dict>
				<key>gravityScale</key>
				<real>1</real>
				<key>shape</key>
				<integer>1</integer>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>nodeType</key>
			<string>LHSprite</string>
			<key>parentUUID</key>
			<string>9412E44F-91B2-4696-9B5A-BE6712E5A90C</string>
			<key>relativeImagePath</key>
			<string>images/</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1, 1}</string>
			<key>size</key>
			<string>{96, 93}</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>uuid</key>
			<string>4D679DBB-AA0E-4EF7-A267-AE8EBAC1C764</string>
			<key>zOrder</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.5, 0.5}</string>
			<key>colorOverlay</key>
			<string>{{1, 1}, {1, 1}}</string>
			<key>generalPosition</key>
			<string>{0.28482663178299256, -0.71487982762772584}</string>
			<key>imageFileName</key>
			<string>carTire.png</string>
			<key>name</key>
			<string>carTire_1</string>
			<key>nodePhysics</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>genericFixture</key>
				<dict>
					<key>category</key>
					<integer>1</integer>
					<key>collisionCategories</key>
					<array>
						<string>DEFAULT</string>
						<string>BlueRobot</string>
						<string>GreenRobot</string>
						<string>PinkRobot</string>
						<string>Category_05</string>
						<string>Category_06</string>
						<string>Category_07</string>
						<string>Category_08</string>
						<string>Category_09</string>
						<string>Category_10</string>
						<string>Category_11</string>
						<string>Category_12</string>
						<string>Category_13</string>
						<string>Category_14</string>
						<string>Category_15</string>
						<string>Category_16</string>
					</array>
					<key>density</key>
					<real>1</real>
					<key>fixtureID</key>
					<integer>0</integer>
					<key>friction</key>
					<real>0.20000000298023224</real>
					<key>ignoreCategories</key>
					<array/>
					<key>mask</key>
					<integer>65535</integer>
					<key>name</key>
					<string>GenericFixture</string>
					<key>restitution</key>
					<real>0.0</real>
					<key>sensor</key>
					<false/>
				</dict>
				<key>gravityScale</key>
				<real>1</real>
				<key>shape</key>
				<integer>1</integer>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>nodeType</key>
			<string>LHSprite</string>
			<key>parentUUID</key>
			<string>9412E44F-91B2-4696-9B5A-BE6712E5A90C</string>
			<key>relativeImagePath</key>
			<string>images/</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1, 1}</string>
			<key>size</key>
			<string>{96, 93}</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>uuid</key>
			<string>948E33EA-18A0-48C8-AF17-CDD92741C185</string>
			<key>zOrder</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.5, 0.5}</string>
			<key>colorOverlay</key>
			<string>{{1, 1}, {1, 1}}</string>
			<key>generalPosition</key>
			<string>{0.66945182557690119, -0.4094039371135178}</string>
			<key>imageFileName</key>
			<string>carTire.png</string>
			<key>name</key>
			<string>carTire_2</string>
			<key>nodePhysics</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>genericFixture</key>
				<dict>
					<key>category</key>
					<integer>1</integer>
					<key>collisionCategories</key>
					<array>
						<string>DEFAULT</string>
						<string>BlueRobot</string>
						<string>GreenRobot</string>
						<string>PinkRobot</string>
						<string>Category_05</string>
						<string>Category_06</string>
						<string>Category_07</string>
						<string>Category_08</string>
						<string>Category_09</string>
						<string>Category_10</string>
						<string>Category_11</string>
						<string>Category_12</string>
						<string>Category_13</string>
						<string>Category_14</string>
						<string>Category_15</string>
						<string>Category_16</string>
					</array>
					<key>density</key>
					<real>1</real>
					<key>fixtureID</key>
					<integer>0</integer>
					<key>friction</key>
					<real>0.20000000298023224</real>
					<key>ignoreCategories</key>
					<array/>
					<key>mask</key>
					<integer>65535</integer>
					<key>name</key>
					<string>GenericFixture</string>
					<key>restitution</key>
					<real>0.0</real>
					<key>sensor</key>
					<false/>
				</dict>
				<key>gravityScale</key>
				<real>1</real>
				<key>shape</key>
				<integer>1</integer>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>nodeType</key>
			<string>LHSprite</string>
			<key>parentUUID</key>
			<string>9412E44F-91B2-4696-9B5A-BE6712E5A90C</string>
			<key>relativeImagePath</key>
			<string>images/</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1, 1}</string>
			<key>size</key>
			<string>{96, 93}</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>uuid</key>
			<string>75FBB217-4BDA-4CAD-9807-42CFE13D99B2</string>
			<key>zOrder</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>designResolution</key>
	<string>{960, 640}</string>
	<key>devices</key>
	<array>
		<dict>
			<key>ratio</key>
			<real>1</real>
			<key>size</key>
			<string>{960, 640}</string>
			<key>suffix</key>
			<string></string>
		</dict>
		<dict>
			<key>ratio</key>
			<real>1</real>
			<key>size</key>
			<string>{1136, 640}</string>
			<key>suffix</key>
			<string>-iphone5</string>
		</dict>
		<dict>
			<key>ratio</key>
			<real>1</real>
			<key>size</key>
			<string>{1024, 768}</string>
			<key>suffix</key>
			<string>-ipad</string>
		</dict>
		<dict>
			<key>ratio</key>
			<real>2</real>
			<key>size</key>
			<string>{2048, 1536}</string>
			<key>suffix</key>
			<string>-ipadhd</string>
		</dict>
	</array>
	<key>globalGravityDirection</key>
	<string>{0, -1}</string>
	<key>globalGravityForce</key>
	<real>8</real>
	<key>nodeType</key>
	<string>LHScene</string>
	<key>physicsBoundaries</key>
	<dict>
		<key>960x640</key>
		<string>{{-0.033929489552974701, -0.80480116605758667}, {1.0484851598739624, 1.7739576101303101}}</string>
		<key>general</key>
		<string>{{-0.033929489552974701, -0.80480116605758667}, {1.0484851598739624, 1.7739576101303101}}</string>
	</dict>
	<key>tags</key>
	<array>
		<string>DEFAULT</string>
	</array>
	<key>tracedFixtures</key>
	<dict>
		<key>84104885-B9BE-448B-96E9-8FBDFF97955D</key>
		<array>
			<array>
				<string>{2.75, -10}</string>
				<string>{25.75, -26.5}</string>
				<string>{30.75, -25.5}</string>
				<string>{31.25, -16.5}</string>
				<string>{30.25, 17.5}</string>
				<string>{19.25, 24}</string>
				<string>{6.25, 27}</string>
			</array>
			<array>
				<string>{31.25, -16.5}</string>
				<string>{36.75, -15}</string>
				<string>{38.25, -11.5}</string>
				<string>{39.75, 3}</string>
				<string>{37.25, 9}</string>
				<string>{30.25, 17.5}</string>
			</array>
			<array>
				<string>{-24.25, -23}</string>
				<string>{-23.75, -14}</string>
				<string>{-33.75, -11}</string>
			</array>
			<array>
				<string>{-24.25, -23}</string>
				<string>{-33.75, -11}</string>
				<string>{-36.75, -15}</string>
			</array>
			<array>
				<string>{-24.25, -23}</string>
				<string>{-36.75, -15}</string>
				<string>{-36.75, -21}</string>
			</array>
			<array>
				<string>{-29.75, -27}</string>
				<string>{-24.25, -23}</string>
				<string>{-36.75, -21}</string>
			</array>
			<array>
				<string>{-29.75, -27}</string>
				<string>{-36.75, -21}</string>
				<string>{-35.75, -24}</string>
			</array>
			<array>
				<string>{-29.75, -27}</string>
				<string>{-35.75, -24}</string>
				<string>{-33.75, -26.5}</string>
			</array>
			<array>
				<string>{-29.75, -27}</string>
				<string>{-33.75, -26.5}</string>
				<string>{-33.25, -27}</string>
			</array>
			<array>
				<string>{-33.25, 10.5}</string>
				<string>{-36.25, 2.5}</string>
				<string>{-33.75, -11}</string>
				<string>{-23.75, -14}</string>
				<string>{-16.25, -9.5}</string>
				<string>{-25.75, 19}</string>
			</array>
			<array>
				<string>{-17.25, 24}</string>
				<string>{-25.75, 19}</string>
				<string>{-16.25, -9.5}</string>
				<string>{-10.75, -8}</string>
				<string>{-11.25, 26}</string>
			</array>
			<array>
				<string>{-5.25, 27}</string>
				<string>{-11.25, 26}</string>
				<string>{-10.75, -8}</string>
				<string>{-4.75, -8}</string>
				<string>{6.25, 27}</string>
			</array>
			<array>
				<string>{6.25, 27}</string>
				<string>{-4.75, -8}</string>
				<string>{2.75, -10}</string>
			</array>
		</array>
		<key>D0CD49D5-73E4-4A41-A134-018A531290AE</key>
		<array>
			<array>
				<string>{13.5, 30.5}</string>
				<string>{-5, 30.5}</string>
				<string>{-6, -31.5}</string>
			</array>
			<array>
				<string>{34.5, -5.5}</string>
				<string>{35, 27}</string>
				<string>{23.5, 29.5}</string>
			</array>
			<array>
				<string>{23.5, 29.5}</string>
				<string>{13.5, 30.5}</string>
				<string>{-6, -31.5}</string>
			</array>
			<array>
				<string>{34.5, -5.5}</string>
				<string>{23.5, 29.5}</string>
				<string>{-6, -31.5}</string>
			</array>
			<array>
				<string>{31, -17.5}</string>
				<string>{34.5, -5.5}</string>
				<string>{-6, -31.5}</string>
			</array>
			<array>
				<string>{29, -21.5}</string>
				<string>{31, -17.5}</string>
				<string>{-6, -31.5}</string>
			</array>
			<array>
				<string>{25, -26.5}</string>
				<string>{29, -21.5}</string>
				<string>{-6, -31.5}</string>
			</array>
			<array>
				<string>{19.5, -29.5}</string>
				<string>{25, -26.5}</string>
				<string>{-6, -31.5}</string>
			</array>
			<array>
				<string>{14.5, -31}</string>
				<string>{19.5, -29.5}</string>
				<string>{-6, -31.5}</string>
			</array>
			<array>
				<string>{7.5, -32}</string>
				<string>{14.5, -31}</string>
				<string>{-6, -31.5}</string>
			</array>
			<array>
				<string>{7.5, -32}</string>
				<string>{-6, -31.5}</string>
				<string>{-5.5, -32}</string>
			</array>
			<array>
				<string>{-35, -3.5}</string>
				<string>{-5, 30.5}</string>
				<string>{-27.5, 28.5}</string>
			</array>
			<array>
				<string>{-35, -3.5}</string>
				<string>{-27.5, 28.5}</string>
				<string>{-39.5, 26}</string>
			</array>
			<array>
				<string>{-46, 2}</string>
				<string>{-35, -3.5}</string>
				<string>{-39.5, 26}</string>
			</array>
			<array>
				<string>{-46, 2}</string>
				<string>{-39.5, 26}</string>
				<string>{-50.5, 21}</string>
			</array>
			<array>
				<string>{-53, 9}</string>
				<string>{-46, 2}</string>
				<string>{-50.5, 21}</string>
			</array>
			<array>
				<string>{-53, 9}</string>
				<string>{-50.5, 21}</string>
				<string>{-54, 16.5}</string>
			</array>
			<array>
				<string>{-53, 9}</string>
				<string>{-54, 16.5}</string>
				<string>{-54, 11}</string>
			</array>
			<array>
				<string>{-5, 30.5}</string>
				<string>{-35, -3.5}</string>
				<string>{-31.5, -14.5}</string>
				<string>{-27, -22.5}</string>
				<string>{-22.5, -27}</string>
				<string>{-19, -29}</string>
				<string>{-12.5, -31}</string>
				<string>{-6, -31.5}</string>
			</array>
			<array>
				<string>{53.5, 13.5}</string>
				<string>{49.5, 19.5}</string>
				<string>{45.5, 22.5}</string>
				<string>{35, 27}</string>
				<string>{34.5, -5.5}</string>
				<string>{47, -1}</string>
				<string>{52.5, 4.5}</string>
				<string>{54, 10}</string>
			</array>
		</array>
	</dict>
	<key>useGlobalGravity</key>
	<true/>
	<key>uuid</key>
	<string>9412E44F-91B2-4696-9B5A-BE6712E5A90C</string>
</dict>
</plist>
