<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ObjectiveChipmunk-MAC.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>ObjectiveChipmunk.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>cocos2d-MAC.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>cocos2d.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6E3412F719A710A100B73620</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E34130719A710A100B73620</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E34198A19A74F5300B73620</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E34199819A74F5400B73620</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E3419D519A7508000B73620</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E341A0619A7525B00B73620</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
