<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LevelHelper2-Cocos2d-v3+Box2d-MacOS.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>LevelHelper2-Cocos2d-v3+Box2d-iOS.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>LevelHelper2-Cocos2d-v3+Chipmunk-iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6E0D55C8194C32A30036E940</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E121FE21924BD85005E8532</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E121FF91924BD85005E8532</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E216BCC1982B8FA00C1F7CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E2170401982BA8600C1F7CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E34198119A74F1400B73620</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E40269E1982C4BF002B4D32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
