<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspect</key>
	<integer>2</integer>
	<key>backgroundColor</key>
	<string>{{1, 0.99997437000274658}, {0.99999129772186279, 1}}</string>
	<key>children</key>
	<array>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.5, 0.5}</string>
			<key>colorOverlay</key>
			<string>{{1, 1}, {1, 1}}</string>
			<key>generalPosition</key>
			<string>{0, 0}</string>
			<key>name</key>
			<string>BACK USER INTERFACE</string>
			<key>nodeType</key>
			<string>LHBackUINode</string>
			<key>parentUUID</key>
			<string>74B97818-973C-4B7A-89B8-F52DBC9FCC50</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1, 1}</string>
			<key>size</key>
			<string>{128, 128}</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>uuid</key>
			<string>1838BBB0-A931-45A7-8B97-EED985F93CC3</string>
			<key>zOrder</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.5, 0.5}</string>
			<key>children</key>
			<array>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.5, 0.5}</string>
					<key>colorOverlay</key>
					<string>{{1, 1}, {1, 1}}</string>
					<key>generalPosition</key>
					<string>{0.13254149464676931, 0.30928833808866329}</string>
					<key>imageFileName</key>
					<string>robots.png</string>
					<key>name</key>
					<string>blueRobot</string>
					<key>nodePhysics</key>
					<dict>
						<key>allowSleep</key>
						<true/>
						<key>bullet</key>
						<false/>
						<key>fixedRotation</key>
						<false/>
						<key>genericFixture</key>
						<dict>
							<key>category</key>
							<integer>4</integer>
							<key>collisionCategories</key>
							<array>
								<string>DEFAULT</string>
								<string>pink</string>
								<string>green</string>
								<string>Category_05</string>
								<string>Category_06</string>
								<string>Category_07</string>
								<string>Category_08</string>
								<string>Category_09</string>
								<string>Category_10</string>
								<string>Category_11</string>
								<string>Category_12</string>
								<string>Category_13</string>
								<string>Category_14</string>
								<string>Category_15</string>
								<string>Category_16</string>
							</array>
							<key>density</key>
							<real>0.10000000149011612</real>
							<key>fixtureID</key>
							<integer>0</integer>
							<key>friction</key>
							<real>0.20000000298023224</real>
							<key>ignoreCategories</key>
							<array>
								<string>blue</string>
							</array>
							<key>mask</key>
							<integer>65531</integer>
							<key>name</key>
							<string>GenericFixture</string>
							<key>restitution</key>
							<real>0.0</real>
							<key>sensor</key>
							<false/>
						</dict>
						<key>gravityScale</key>
						<real>1</real>
						<key>shape</key>
						<integer>0</integer>
						<key>type</key>
						<integer>2</integer>
					</dict>
					<key>nodeType</key>
					<string>LHSprite</string>
					<key>parentUUID</key>
					<string>_GAME_WORLD_NODE_UUID_</string>
					<key>relativeImagePath</key>
					<string>DEMO_PUBLISH_FOLDER/</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
					<key>size</key>
					<string>{130, 150}</string>
					<key>spriteName</key>
					<string>blueRobot</string>
					<key>spriteUUID</key>
					<string>2F3A5F3F-DA9C-471B-930F-35601F2AE875</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>0DD9D288-5E04-4E33-A479-917BAA7D06CB</string>
					<key>zOrder</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.5, 0.5}</string>
					<key>colorOverlay</key>
					<string>{{1, 1}, {1, 1}}</string>
					<key>generalPosition</key>
					<string>{0.36437581255352902, 0.30852295424556359}</string>
					<key>imageFileName</key>
					<string>robots.png</string>
					<key>name</key>
					<string>pinkRobot</string>
					<key>nodePhysics</key>
					<dict>
						<key>allowSleep</key>
						<true/>
						<key>bullet</key>
						<false/>
						<key>fixedRotation</key>
						<false/>
						<key>genericFixture</key>
						<dict>
							<key>category</key>
							<integer>2</integer>
							<key>collisionCategories</key>
							<array>
								<string>DEFAULT</string>
								<string>blue</string>
								<string>Category_05</string>
								<string>Category_06</string>
								<string>Category_07</string>
								<string>Category_08</string>
								<string>Category_09</string>
								<string>Category_10</string>
								<string>Category_11</string>
								<string>Category_12</string>
								<string>Category_13</string>
								<string>Category_14</string>
								<string>Category_15</string>
								<string>Category_16</string>
							</array>
							<key>density</key>
							<real>0.10000000149011612</real>
							<key>fixtureID</key>
							<integer>0</integer>
							<key>friction</key>
							<real>0.20000000298023224</real>
							<key>ignoreCategories</key>
							<array>
								<string>pink</string>
								<string>green</string>
							</array>
							<key>mask</key>
							<integer>65525</integer>
							<key>name</key>
							<string>GenericFixture</string>
							<key>restitution</key>
							<real>0.0</real>
							<key>sensor</key>
							<false/>
						</dict>
						<key>gravityScale</key>
						<real>1</real>
						<key>shape</key>
						<integer>0</integer>
						<key>type</key>
						<integer>2</integer>
					</dict>
					<key>nodeType</key>
					<string>LHSprite</string>
					<key>parentUUID</key>
					<string>_GAME_WORLD_NODE_UUID_</string>
					<key>relativeImagePath</key>
					<string>DEMO_PUBLISH_FOLDER/</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
					<key>size</key>
					<string>{130, 150}</string>
					<key>spriteName</key>
					<string>pinkRobot</string>
					<key>spriteUUID</key>
					<string>68189927-8EF2-4BEE-BDC3-20BA98F11C64</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>CE6870B8-509F-40FA-A7E6-F7903E366FCA</string>
					<key>zOrder</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.5, 0.5}</string>
					<key>colorOverlay</key>
					<string>{{1, 1}, {1, 1}}</string>
					<key>generalPosition</key>
					<string>{0.58776855828085295, 0.3229309135422227}</string>
					<key>imageFileName</key>
					<string>robots.png</string>
					<key>name</key>
					<string>greenRobot</string>
					<key>nodePhysics</key>
					<dict>
						<key>allowSleep</key>
						<true/>
						<key>bullet</key>
						<false/>
						<key>fixedRotation</key>
						<false/>
						<key>genericFixture</key>
						<dict>
							<key>category</key>
							<integer>8</integer>
							<key>collisionCategories</key>
							<array>
								<string>DEFAULT</string>
								<string>blue</string>
								<string>green</string>
								<string>Category_05</string>
								<string>Category_06</string>
								<string>Category_07</string>
								<string>Category_08</string>
								<string>Category_09</string>
								<string>Category_10</string>
								<string>Category_11</string>
								<string>Category_12</string>
								<string>Category_13</string>
								<string>Category_14</string>
								<string>Category_15</string>
								<string>Category_16</string>
							</array>
							<key>density</key>
							<real>0.10000000149011612</real>
							<key>fixtureID</key>
							<integer>0</integer>
							<key>friction</key>
							<real>0.20000000298023224</real>
							<key>ignoreCategories</key>
							<array>
								<string>pink</string>
							</array>
							<key>mask</key>
							<integer>65533</integer>
							<key>name</key>
							<string>GenericFixture</string>
							<key>restitution</key>
							<real>0.0</real>
							<key>sensor</key>
							<false/>
						</dict>
						<key>gravityScale</key>
						<real>1</real>
						<key>shape</key>
						<integer>0</integer>
						<key>type</key>
						<integer>2</integer>
					</dict>
					<key>nodeType</key>
					<string>LHSprite</string>
					<key>parentUUID</key>
					<string>_GAME_WORLD_NODE_UUID_</string>
					<key>relativeImagePath</key>
					<string>DEMO_PUBLISH_FOLDER/</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
					<key>size</key>
					<string>{130, 150}</string>
					<key>spriteName</key>
					<string>greenRobot</string>
					<key>spriteUUID</key>
					<string>9C8173A8-5D80-4F56-AFDB-115E6D744990</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>54C795C2-39A9-430B-908F-C4F849F4AE8A</string>
					<key>zOrder</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.5, 0.5}</string>
					<key>colorOverlay</key>
					<string>{{1, 1}, {1, 1}}</string>
					<key>generalPosition</key>
					<string>{0.38077108273282645, 0.73941181656496158}</string>
					<key>imageFileName</key>
					<string>robots.png</string>
					<key>name</key>
					<string>pinkRobot_1</string>
					<key>nodePhysics</key>
					<dict>
						<key>allowSleep</key>
						<true/>
						<key>bullet</key>
						<false/>
						<key>fixedRotation</key>
						<false/>
						<key>genericFixture</key>
						<dict>
							<key>category</key>
							<integer>2</integer>
							<key>collisionCategories</key>
							<array>
								<string>DEFAULT</string>
								<string>blue</string>
								<string>Category_05</string>
								<string>Category_06</string>
								<string>Category_07</string>
								<string>Category_08</string>
								<string>Category_09</string>
								<string>Category_10</string>
								<string>Category_11</string>
								<string>Category_12</string>
								<string>Category_13</string>
								<string>Category_14</string>
								<string>Category_15</string>
								<string>Category_16</string>
							</array>
							<key>density</key>
							<real>0.10000000149011612</real>
							<key>fixtureID</key>
							<integer>0</integer>
							<key>friction</key>
							<real>0.20000000298023224</real>
							<key>ignoreCategories</key>
							<array>
								<string>pink</string>
								<string>green</string>
							</array>
							<key>mask</key>
							<integer>65525</integer>
							<key>name</key>
							<string>GenericFixture</string>
							<key>restitution</key>
							<real>0.0</real>
							<key>sensor</key>
							<false/>
						</dict>
						<key>gravityScale</key>
						<real>1</real>
						<key>shape</key>
						<integer>0</integer>
						<key>type</key>
						<integer>2</integer>
					</dict>
					<key>nodeType</key>
					<string>LHSprite</string>
					<key>parentUUID</key>
					<string>_GAME_WORLD_NODE_UUID_</string>
					<key>relativeImagePath</key>
					<string>DEMO_PUBLISH_FOLDER/</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
					<key>size</key>
					<string>{130, 150}</string>
					<key>spriteName</key>
					<string>pinkRobot</string>
					<key>spriteUUID</key>
					<string>68189927-8EF2-4BEE-BDC3-20BA98F11C64</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>7C20E75D-352B-4581-9B9A-CAD59E6787C9</string>
					<key>zOrder</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.5, 0.5}</string>
					<key>colorOverlay</key>
					<string>{{1, 1}, {1, 1}}</string>
					<key>generalPosition</key>
					<string>{0.1381408655938382, 0.73340962347515415}</string>
					<key>imageFileName</key>
					<string>robots.png</string>
					<key>name</key>
					<string>blueRobot_1</string>
					<key>nodePhysics</key>
					<dict>
						<key>allowSleep</key>
						<true/>
						<key>bullet</key>
						<false/>
						<key>fixedRotation</key>
						<false/>
						<key>genericFixture</key>
						<dict>
							<key>category</key>
							<integer>4</integer>
							<key>collisionCategories</key>
							<array>
								<string>DEFAULT</string>
								<string>pink</string>
								<string>green</string>
								<string>Category_05</string>
								<string>Category_06</string>
								<string>Category_07</string>
								<string>Category_08</string>
								<string>Category_09</string>
								<string>Category_10</string>
								<string>Category_11</string>
								<string>Category_12</string>
								<string>Category_13</string>
								<string>Category_14</string>
								<string>Category_15</string>
								<string>Category_16</string>
							</array>
							<key>density</key>
							<real>0.10000000149011612</real>
							<key>fixtureID</key>
							<integer>0</integer>
							<key>friction</key>
							<real>0.20000000298023224</real>
							<key>ignoreCategories</key>
							<array>
								<string>blue</string>
							</array>
							<key>mask</key>
							<integer>65531</integer>
							<key>name</key>
							<string>GenericFixture</string>
							<key>restitution</key>
							<real>0.0</real>
							<key>sensor</key>
							<false/>
						</dict>
						<key>gravityScale</key>
						<real>1</real>
						<key>shape</key>
						<integer>0</integer>
						<key>type</key>
						<integer>2</integer>
					</dict>
					<key>nodeType</key>
					<string>LHSprite</string>
					<key>parentUUID</key>
					<string>_GAME_WORLD_NODE_UUID_</string>
					<key>relativeImagePath</key>
					<string>DEMO_PUBLISH_FOLDER/</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
					<key>size</key>
					<string>{130, 150}</string>
					<key>spriteName</key>
					<string>blueRobot</string>
					<key>spriteUUID</key>
					<string>2F3A5F3F-DA9C-471B-930F-35601F2AE875</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>0E159109-C2DC-4E7D-B01F-17AB014B5B75</string>
					<key>zOrder</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.5, 0.5}</string>
					<key>colorOverlay</key>
					<string>{{1, 1}, {1, 1}}</string>
					<key>generalPosition</key>
					<string>{0.60867555038906473, 0.76469624666583513}</string>
					<key>imageFileName</key>
					<string>robots.png</string>
					<key>name</key>
					<string>greenRobot_1</string>
					<key>nodePhysics</key>
					<dict>
						<key>allowSleep</key>
						<true/>
						<key>bullet</key>
						<false/>
						<key>fixedRotation</key>
						<false/>
						<key>genericFixture</key>
						<dict>
							<key>category</key>
							<integer>8</integer>
							<key>collisionCategories</key>
							<array>
								<string>DEFAULT</string>
								<string>blue</string>
								<string>green</string>
								<string>Category_05</string>
								<string>Category_06</string>
								<string>Category_07</string>
								<string>Category_08</string>
								<string>Category_09</string>
								<string>Category_10</string>
								<string>Category_11</string>
								<string>Category_12</string>
								<string>Category_13</string>
								<string>Category_14</string>
								<string>Category_15</string>
								<string>Category_16</string>
							</array>
							<key>density</key>
							<real>0.10000000149011612</real>
							<key>fixtureID</key>
							<integer>0</integer>
							<key>friction</key>
							<real>0.20000000298023224</real>
							<key>ignoreCategories</key>
							<array>
								<string>pink</string>
							</array>
							<key>mask</key>
							<integer>65533</integer>
							<key>name</key>
							<string>GenericFixture</string>
							<key>restitution</key>
							<real>0.0</real>
							<key>sensor</key>
							<false/>
						</dict>
						<key>gravityScale</key>
						<real>1</real>
						<key>shape</key>
						<integer>0</integer>
						<key>type</key>
						<integer>2</integer>
					</dict>
					<key>nodeType</key>
					<string>LHSprite</string>
					<key>parentUUID</key>
					<string>_GAME_WORLD_NODE_UUID_</string>
					<key>relativeImagePath</key>
					<string>DEMO_PUBLISH_FOLDER/</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
					<key>size</key>
					<string>{130, 150}</string>
					<key>spriteName</key>
					<string>greenRobot</string>
					<key>spriteUUID</key>
					<string>9C8173A8-5D80-4F56-AFDB-115E6D744990</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>B6E7AFE3-1610-4F8D-A6EE-8DF7AD6637CD</string>
					<key>zOrder</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.5, 0.5}</string>
					<key>colorOverlay</key>
					<string>{{1, 1}, {1, 1}}</string>
					<key>generalPosition</key>
					<string>{-0.33752676645914714, 0.15952806472778319}</string>
					<key>name</key>
					<string>dummyBodyForMouseJoint</string>
					<key>nodePhysics</key>
					<dict>
						<key>allowSleep</key>
						<true/>
						<key>bullet</key>
						<false/>
						<key>fixedRotation</key>
						<false/>
						<key>genericFixture</key>
						<dict>
							<key>category</key>
							<integer>1</integer>
							<key>density</key>
							<real>0.10000000149011612</real>
							<key>fixtureID</key>
							<integer>0</integer>
							<key>friction</key>
							<real>0.20000000298023224</real>
							<key>mask</key>
							<integer>65535</integer>
							<key>name</key>
							<string>GenericFixture</string>
							<key>restitution</key>
							<real>0.0</real>
							<key>sensor</key>
							<false/>
						</dict>
						<key>gravityScale</key>
						<real>1</real>
						<key>shape</key>
						<integer>0</integer>
						<key>type</key>
						<integer>0</integer>
					</dict>
					<key>nodeType</key>
					<string>LHNode</string>
					<key>parentUUID</key>
					<string>_GAME_WORLD_NODE_UUID_</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
					<key>size</key>
					<string>{82.040641784667969, 50.10626220703125}</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>18A6C7B5-8B47-47DF-8A9B-279766C46DB2</string>
					<key>zOrder</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>colorOverlay</key>
			<string>{{1, 1}, {1, 1}}</string>
			<key>generalPosition</key>
			<string>{0, 0}</string>
			<key>name</key>
			<string>GAME WORLD</string>
			<key>nodeType</key>
			<string>LHGameWorldNode</string>
			<key>parentUUID</key>
			<string>74B97818-973C-4B7A-89B8-F52DBC9FCC50</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1, 1}</string>
			<key>size</key>
			<string>{128, 128}</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>uuid</key>
			<string>6CC48994-786E-4089-8E64-A0B47250635F</string>
			<key>zOrder</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.5, 0.5}</string>
			<key>colorOverlay</key>
			<string>{{1, 1}, {1, 1}}</string>
			<key>generalPosition</key>
			<string>{0, 0}</string>
			<key>name</key>
			<string>FRONT USER INTERFACE</string>
			<key>nodeType</key>
			<string>LHUINode</string>
			<key>parentUUID</key>
			<string>74B97818-973C-4B7A-89B8-F52DBC9FCC50</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1, 1}</string>
			<key>size</key>
			<string>{128, 128}</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>uuid</key>
			<string>7DF8E4D5-404B-4DDB-BC53-042266C498FC</string>
			<key>zOrder</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>designResolution</key>
	<string>{960, 640}</string>
	<key>devices</key>
	<array>
		<dict>
			<key>ratio</key>
			<real>1</real>
			<key>size</key>
			<string>{960, 640}</string>
			<key>suffix</key>
			<string></string>
		</dict>
		<dict>
			<key>ratio</key>
			<real>1</real>
			<key>size</key>
			<string>{1136, 640}</string>
			<key>suffix</key>
			<string>-iphone5</string>
		</dict>
		<dict>
			<key>ratio</key>
			<real>1</real>
			<key>size</key>
			<string>{1024, 768}</string>
			<key>suffix</key>
			<string>-ipad</string>
		</dict>
		<dict>
			<key>ratio</key>
			<real>2</real>
			<key>size</key>
			<string>{2048, 1536}</string>
			<key>suffix</key>
			<string>-ipadhd</string>
		</dict>
	</array>
	<key>globalGravityDirection</key>
	<string>{0, -1}</string>
	<key>globalGravityForce</key>
	<real>8</real>
	<key>nodeType</key>
	<string>LHScene</string>
	<key>physicsBoundaries</key>
	<dict>
		<key>1024x768</key>
		<string>{{0, 0}, {1, 1}}</string>
		<key>1136x640</key>
		<string>{{0, 0}, {1, 1}}</string>
		<key>2048x1536</key>
		<string>{{0, 0}, {1, 1}}</string>
		<key>960x640</key>
		<string>{{0, 0}, {1, 1}}</string>
		<key>general</key>
		<string>{{0, 0}, {1, 1}}</string>
	</dict>
	<key>sceneFormat</key>
	<real>1</real>
	<key>tags</key>
	<array>
		<string>DEFAULT</string>
	</array>
	<key>useGlobalGravity</key>
	<true/>
	<key>uuid</key>
	<string>74B97818-973C-4B7A-89B8-F52DBC9FCC50</string>
</dict>
</plist>
