<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspect</key>
	<integer>0</integer>
	<key>backgroundColor</key>
	<string>{{1, 0.99997437000274658}, {0.99999129772186279, 1}}</string>
	<key>children</key>
	<array>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.5, 0.5}</string>
			<key>children</key>
			<array>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.5, 0.5}</string>
					<key>colorOverlay</key>
					<string>{{1, 1}, {1, 1}}</string>
					<key>generalPosition</key>
					<string>{0.29071126762816374, 0.092121570976451045}</string>
					<key>imageFileName</key>
					<string>objects.png</string>
					<key>name</key>
					<string>object_canteen</string>
					<key>nodePhysics</key>
					<dict>
						<key>allowSleep</key>
						<true/>
						<key>bullet</key>
						<false/>
						<key>fixedRotation</key>
						<false/>
						<key>fixtureUUID</key>
						<string>7EF8B667-209C-4748-BB48-7A4E977DDDEA</string>
						<key>genericFixture</key>
						<dict>
							<key>category</key>
							<integer>1</integer>
							<key>density</key>
							<real>0.89999997615814209</real>
							<key>fixtureID</key>
							<integer>0</integer>
							<key>friction</key>
							<real>0.20000000298023224</real>
							<key>mask</key>
							<integer>65535</integer>
							<key>name</key>
							<string>GenericFixture</string>
							<key>restitution</key>
							<real>0.0</real>
							<key>sensor</key>
							<false/>
						</dict>
						<key>gravityScale</key>
						<real>1</real>
						<key>shape</key>
						<integer>5</integer>
						<key>type</key>
						<integer>2</integer>
					</dict>
					<key>nodeType</key>
					<string>LHSprite</string>
					<key>parentUUID</key>
					<string>_GAME_WORLD_NODE_UUID_</string>
					<key>relativeImagePath</key>
					<string>DEMO_PUBLISH_FOLDER/</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
					<key>size</key>
					<string>{60, 78}</string>
					<key>spriteName</key>
					<string>object_canteen</string>
					<key>spriteUUID</key>
					<string>C3F38C64-C80F-4AC6-BA50-91147927289B</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>BB2A5FCA-FFE8-4F3E-B517-D2360C9C2E1E</string>
					<key>zOrder</key>
					<integer>-1</integer>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.5, 0.5}</string>
					<key>colorOverlay</key>
					<string>{{1, 1}, {1, 1}}</string>
					<key>generalPosition</key>
					<string>{0.33916832100784067, 0.30409826500147202}</string>
					<key>imageFileName</key>
					<string>objects.png</string>
					<key>name</key>
					<string>object_statue</string>
					<key>nodePhysics</key>
					<dict>
						<key>allowSleep</key>
						<true/>
						<key>bullet</key>
						<false/>
						<key>fixedRotation</key>
						<false/>
						<key>genericFixture</key>
						<dict>
							<key>category</key>
							<integer>1</integer>
							<key>density</key>
							<real>0.10000000149011612</real>
							<key>fixtureID</key>
							<integer>0</integer>
							<key>friction</key>
							<real>0.20000000298023224</real>
							<key>mask</key>
							<integer>65535</integer>
							<key>name</key>
							<string>GenericFixture</string>
							<key>restitution</key>
							<real>0.0</real>
							<key>sensor</key>
							<false/>
						</dict>
						<key>gravityScale</key>
						<real>1</real>
						<key>shape</key>
						<integer>0</integer>
						<key>type</key>
						<integer>0</integer>
					</dict>
					<key>nodeType</key>
					<string>LHSprite</string>
					<key>parentUUID</key>
					<string>_GAME_WORLD_NODE_UUID_</string>
					<key>relativeImagePath</key>
					<string>DEMO_PUBLISH_FOLDER/</string>
					<key>rotation</key>
					<real>297.365478515625</real>
					<key>scale</key>
					<string>{0.68349963426589966, 2.3270499706268311}</string>
					<key>size</key>
					<string>{105, 148}</string>
					<key>spriteName</key>
					<string>object_statue</string>
					<key>spriteUUID</key>
					<string>0DB4639A-8D34-4D83-8FBD-20753577F85A</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>23D3C8B2-DE0B-4B5E-9142-EAFD3D5E26A6</string>
					<key>zOrder</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>alpha</key>
					<real>178.5</real>
					<key>anchor</key>
					<string>{0.5, 0.5}</string>
					<key>colorOverlay</key>
					<string>{{0.22352941334247589, 0.34509804844856262}, {0.47450980544090271, 1}}</string>
					<key>generalPosition</key>
					<string>{0.49798170725504559, 0.83121089935302739}</string>
					<key>height</key>
					<real>60</real>
					<key>name</key>
					<string>UntitledWaterArea</string>
					<key>nodeType</key>
					<string>LHWaves</string>
					<key>numLines</key>
					<real>100</real>
					<key>parentUUID</key>
					<string>_GAME_WORLD_NODE_UUID_</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{15.113826751708984, 2.9510934352874756}</string>
					<key>size</key>
					<string>{60, 60}</string>
					<key>splash</key>
					<true/>
					<key>splashH</key>
					<real>9</real>
					<key>splashT</key>
					<real>30</real>
					<key>splashW</key>
					<real>20.799999237060547</real>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>turbulence</key>
					<true/>
					<key>turbulenceH</key>
					<real>20</real>
					<key>turbulenceL</key>
					<real>5.5</real>
					<key>turbulenceV</key>
					<real>0.10000000894069672</real>
					<key>turbulenceVelocity</key>
					<real>0.40000000596046448</real>
					<key>uuid</key>
					<string>10CD53D0-D4C2-4093-8EC6-FA7D2109E7C8</string>
					<key>waterDensity</key>
					<real>0.59999996423721313</real>
					<key>width</key>
					<real>60</real>
					<key>zOrder</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.5, 0.5}</string>
					<key>colorOverlay</key>
					<string>{{1, 1}, {1, 1}}</string>
					<key>generalPosition</key>
					<string>{0.45486084044581127, 0.12223536941241946}</string>
					<key>imageFileName</key>
					<string>objects.png</string>
					<key>name</key>
					<string>object_banana</string>
					<key>nodePhysics</key>
					<dict>
						<key>allowSleep</key>
						<true/>
						<key>bullet</key>
						<false/>
						<key>fixedRotation</key>
						<false/>
						<key>fixtureUUID</key>
						<string>1F6A7094-F1D5-4448-9759-E62752FC2E55</string>
						<key>genericFixture</key>
						<dict>
							<key>category</key>
							<integer>1</integer>
							<key>density</key>
							<real>0.69999998807907104</real>
							<key>fixtureID</key>
							<integer>0</integer>
							<key>friction</key>
							<real>0.20000000298023224</real>
							<key>mask</key>
							<integer>65535</integer>
							<key>name</key>
							<string>GenericFixture</string>
							<key>restitution</key>
							<real>0.0</real>
							<key>sensor</key>
							<false/>
						</dict>
						<key>gravityScale</key>
						<real>1</real>
						<key>shape</key>
						<integer>5</integer>
						<key>type</key>
						<integer>2</integer>
					</dict>
					<key>nodeType</key>
					<string>LHSprite</string>
					<key>parentUUID</key>
					<string>_GAME_WORLD_NODE_UUID_</string>
					<key>relativeImagePath</key>
					<string>DEMO_PUBLISH_FOLDER/</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
					<key>size</key>
					<string>{92, 64}</string>
					<key>spriteName</key>
					<string>object_banana</string>
					<key>spriteUUID</key>
					<string>FAE55543-0B9F-4B04-A86D-BAB025D0B01C</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>C0D31ABE-73D3-4615-B89A-3DBFA6F39111</string>
					<key>zOrder</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.5, 0.5}</string>
					<key>colorOverlay</key>
					<string>{{1, 1}, {1, 1}}</string>
					<key>generalPosition</key>
					<string>{0.6506014045842069, 0.092613786739138962}</string>
					<key>imageFileName</key>
					<string>objects.png</string>
					<key>name</key>
					<string>object_hat</string>
					<key>nodePhysics</key>
					<dict>
						<key>allowSleep</key>
						<true/>
						<key>bullet</key>
						<false/>
						<key>fixedRotation</key>
						<false/>
						<key>fixtureUUID</key>
						<string>DB0C274A-9466-4209-96DC-130685C5FFCB</string>
						<key>genericFixture</key>
						<dict>
							<key>category</key>
							<integer>1</integer>
							<key>density</key>
							<real>0.40000000596046448</real>
							<key>fixtureID</key>
							<integer>0</integer>
							<key>friction</key>
							<real>0.20000000298023224</real>
							<key>mask</key>
							<integer>65535</integer>
							<key>name</key>
							<string>GenericFixture</string>
							<key>restitution</key>
							<real>0.0</real>
							<key>sensor</key>
							<false/>
						</dict>
						<key>gravityScale</key>
						<real>1</real>
						<key>shape</key>
						<integer>5</integer>
						<key>type</key>
						<integer>2</integer>
					</dict>
					<key>nodeType</key>
					<string>LHSprite</string>
					<key>parentUUID</key>
					<string>_GAME_WORLD_NODE_UUID_</string>
					<key>relativeImagePath</key>
					<string>DEMO_PUBLISH_FOLDER/</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
					<key>size</key>
					<string>{122, 75}</string>
					<key>spriteName</key>
					<string>object_hat</string>
					<key>spriteUUID</key>
					<string>A0CC7494-203E-4C79-A14A-ECA50F1FBA3D</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>A64BD47F-25F2-4A39-B08F-0D83773FDFAB</string>
					<key>zOrder</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.5, 0.5}</string>
					<key>colorOverlay</key>
					<string>{{1, 1}, {1, 1}}</string>
					<key>generalPosition</key>
					<string>{0.85744221358909267, 0.13676417815518108}</string>
					<key>imageFileName</key>
					<string>objects.png</string>
					<key>name</key>
					<string>object_backpack</string>
					<key>nodePhysics</key>
					<dict>
						<key>allowSleep</key>
						<true/>
						<key>bullet</key>
						<false/>
						<key>fixedRotation</key>
						<false/>
						<key>fixtureUUID</key>
						<string>938CB353-438A-42DB-A1A6-1A0679B40382</string>
						<key>genericFixture</key>
						<dict>
							<key>category</key>
							<integer>1</integer>
							<key>density</key>
							<real>3</real>
							<key>fixtureID</key>
							<integer>0</integer>
							<key>friction</key>
							<real>0.20000000298023224</real>
							<key>mask</key>
							<integer>65535</integer>
							<key>name</key>
							<string>GenericFixture</string>
							<key>restitution</key>
							<real>0.0</real>
							<key>sensor</key>
							<false/>
						</dict>
						<key>gravityScale</key>
						<real>1</real>
						<key>shape</key>
						<integer>5</integer>
						<key>type</key>
						<integer>2</integer>
					</dict>
					<key>nodeType</key>
					<string>LHSprite</string>
					<key>parentUUID</key>
					<string>_GAME_WORLD_NODE_UUID_</string>
					<key>relativeImagePath</key>
					<string>DEMO_PUBLISH_FOLDER/</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
					<key>size</key>
					<string>{90, 106}</string>
					<key>spriteName</key>
					<string>object_backpack</string>
					<key>spriteUUID</key>
					<string>79AD2F07-C0BE-4B5A-BB3F-9FAC5F80A471</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>11B59BB8-BCC0-4E9F-AEBE-DC5ED3F3D28B</string>
					<key>zOrder</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>colorOverlay</key>
			<string>{{1, 1}, {1, 1}}</string>
			<key>generalPosition</key>
			<string>{0, 0}</string>
			<key>name</key>
			<string>GAME WORLD</string>
			<key>nodeType</key>
			<string>LHGameWorldNode</string>
			<key>parentUUID</key>
			<string>C61D3445-EB91-468D-BB3F-DB0758242063</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1, 1}</string>
			<key>size</key>
			<string>{128, 128}</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>uuid</key>
			<string>B50539D8-54E8-4364-847D-A6C1A3A1752E</string>
			<key>zOrder</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.5, 0.5}</string>
			<key>colorOverlay</key>
			<string>{{1, 1}, {1, 1}}</string>
			<key>generalPosition</key>
			<string>{0, 0}</string>
			<key>name</key>
			<string>USER INTERFACE</string>
			<key>nodeType</key>
			<string>LHUINode</string>
			<key>parentUUID</key>
			<string>C61D3445-EB91-468D-BB3F-DB0758242063</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1, 1}</string>
			<key>size</key>
			<string>{128, 128}</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>uuid</key>
			<string>FF0A529D-D476-459C-A714-B72F95BC4E9C</string>
			<key>zOrder</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>designResolution</key>
	<string>{960, 640}</string>
	<key>devices</key>
	<array>
		<dict>
			<key>ratio</key>
			<real>1</real>
			<key>size</key>
			<string>{960, 640}</string>
			<key>suffix</key>
			<string></string>
		</dict>
		<dict>
			<key>ratio</key>
			<real>1</real>
			<key>size</key>
			<string>{1136, 640}</string>
			<key>suffix</key>
			<string>-iphone5</string>
		</dict>
		<dict>
			<key>ratio</key>
			<real>1</real>
			<key>size</key>
			<string>{1024, 768}</string>
			<key>suffix</key>
			<string>-ipad</string>
		</dict>
		<dict>
			<key>ratio</key>
			<real>2</real>
			<key>size</key>
			<string>{2048, 1536}</string>
			<key>suffix</key>
			<string>-ipadhd</string>
		</dict>
	</array>
	<key>globalGravityDirection</key>
	<string>{0, -1}</string>
	<key>globalGravityForce</key>
	<real>8</real>
	<key>nodeType</key>
	<string>LHScene</string>
	<key>physicsBoundaries</key>
	<dict>
		<key>960x640</key>
		<string>{{0, 0}, {1, 1}}</string>
		<key>general</key>
		<string>{{0, 0}, {1, 1}}</string>
	</dict>
	<key>sceneFormat</key>
	<integer>1</integer>
	<key>tags</key>
	<array>
		<string>DEFAULT</string>
	</array>
	<key>tracedFixtures</key>
	<dict>
		<key>1F6A7094-F1D5-4448-9759-E62752FC2E55</key>
		<array>
			<array>
				<string>{34.75, -27.75}</string>
				<string>{35.25, -28.25}</string>
				<string>{38.75, -26.75}</string>
				<string>{40.25, -22.75}</string>
			</array>
			<array>
				<string>{26.25, -19.75}</string>
				<string>{32.75, -27.25}</string>
				<string>{34.75, -27.75}</string>
				<string>{40.25, -22.75}</string>
				<string>{40.25, -17.75}</string>
				<string>{37.25, -14.25}</string>
				<string>{27.25, -12.25}</string>
			</array>
			<array>
				<string>{17.25, -1.75}</string>
				<string>{27.25, -12.25}</string>
				<string>{37.25, -14.25}</string>
				<string>{38.25, 5.25}</string>
				<string>{34.25, 12.25}</string>
				<string>{27.75, 18.75}</string>
			</array>
			<array>
				<string>{7.25, 3.25}</string>
				<string>{17.25, -1.75}</string>
				<string>{27.75, 18.75}</string>
				<string>{22.25, 22.25}</string>
				<string>{16.25, 24.75}</string>
				<string>{6.25, 26.75}</string>
			</array>
			<array>
				<string>{1.75, 4.25}</string>
				<string>{7.25, 3.25}</string>
				<string>{6.25, 26.75}</string>
				<string>{-4.25, 26.75}</string>
			</array>
			<array>
				<string>{-6.75, 3.75}</string>
				<string>{1.75, 4.25}</string>
				<string>{-4.25, 26.75}</string>
				<string>{-15.25, 24.75}</string>
				<string>{-23.75, 21.25}</string>
			</array>
			<array>
				<string>{-33.75, -7.75}</string>
				<string>{-6.75, 3.75}</string>
				<string>{-23.75, 21.25}</string>
			</array>
			<array>
				<string>{-33.75, -7.75}</string>
				<string>{-23.75, 21.25}</string>
				<string>{-29.75, 17.25}</string>
			</array>
			<array>
				<string>{-33.75, -7.75}</string>
				<string>{-29.75, 17.25}</string>
				<string>{-37.25, 8.75}</string>
			</array>
			<array>
				<string>{-33.75, -7.75}</string>
				<string>{-37.25, 8.75}</string>
				<string>{-40.75, 0.25}</string>
			</array>
			<array>
				<string>{-33.75, -7.75}</string>
				<string>{-40.75, 0.25}</string>
				<string>{-40.75, -3.75}</string>
			</array>
			<array>
				<string>{-33.75, -7.75}</string>
				<string>{-40.75, -3.75}</string>
				<string>{-38.75, -6.25}</string>
			</array>
			<array>
				<string>{-36.75, -7.75}</string>
				<string>{-33.75, -7.75}</string>
				<string>{-38.75, -6.25}</string>
			</array>
		</array>
		<key>7EF8B667-209C-4748-BB48-7A4E977DDDEA</key>
		<array>
			<array>
				<string>{-4.75, -31.5}</string>
				<string>{5.25, -31.5}</string>
				<string>{7.25, -30.5}</string>
				<string>{7.75, -21.5}</string>
				<string>{-5.25, -31}</string>
			</array>
			<array>
				<string>{-7.75, -29}</string>
				<string>{-5.25, -31}</string>
				<string>{7.75, -21.5}</string>
				<string>{-7.75, -21}</string>
			</array>
			<array>
				<string>{19.25, 10.5}</string>
				<string>{14.75, 29.5}</string>
				<string>{9.25, 31.5}</string>
			</array>
			<array>
				<string>{19.25, 10.5}</string>
				<string>{9.25, 31.5}</string>
				<string>{2.25, 32.5}</string>
			</array>
			<array>
				<string>{19.25, 10.5}</string>
				<string>{2.25, 32.5}</string>
				<string>{-16.75, 32.5}</string>
			</array>
			<array>
				<string>{19.25, 10.5}</string>
				<string>{-16.75, 32.5}</string>
				<string>{-19.75, 30}</string>
			</array>
			<array>
				<string>{19.25, 10.5}</string>
				<string>{-19.75, 30}</string>
				<string>{-21.25, 26.5}</string>
			</array>
			<array>
				<string>{19.25, 10.5}</string>
				<string>{-21.25, 26.5}</string>
				<string>{-22.25, 20}</string>
			</array>
			<array>
				<string>{19.25, 10.5}</string>
				<string>{-22.25, 20}</string>
				<string>{-22.25, 12}</string>
			</array>
			<array>
				<string>{19.25, 10.5}</string>
				<string>{-22.25, 12}</string>
				<string>{-19.75, -12.5}</string>
			</array>
			<array>
				<string>{18.75, -3}</string>
				<string>{19.25, 10.5}</string>
				<string>{-19.75, -12.5}</string>
			</array>
			<array>
				<string>{14.75, -17.5}</string>
				<string>{18.75, -3}</string>
				<string>{-19.75, -12.5}</string>
			</array>
			<array>
				<string>{7.75, -21.5}</string>
				<string>{14.75, -17.5}</string>
				<string>{-19.75, -12.5}</string>
			</array>
			<array>
				<string>{-9.75, -19.5}</string>
				<string>{7.75, -21.5}</string>
				<string>{-19.75, -12.5}</string>
			</array>
			<array>
				<string>{-9.75, -19.5}</string>
				<string>{-19.75, -12.5}</string>
				<string>{-18.25, -15.5}</string>
			</array>
			<array>
				<string>{-18.25, -15.5}</string>
				<string>{-14.75, -19}</string>
				<string>{-9.75, -19.5}</string>
			</array>
			<array>
				<string>{-7.75, -21}</string>
				<string>{7.75, -21.5}</string>
				<string>{-9.75, -19.5}</string>
			</array>
		</array>
		<key>938CB353-438A-42DB-A1A6-1A0679B40382</key>
		<array>
			<array>
				<string>{3.75, -47.5}</string>
				<string>{10.25, -47}</string>
				<string>{12.25, -36.5}</string>
				<string>{3.25, -47}</string>
			</array>
			<array>
				<string>{-7.25, -38.5}</string>
				<string>{-6.75, -42}</string>
				<string>{-5.25, -45}</string>
				<string>{3.25, -47}</string>
				<string>{12.25, -36.5}</string>
				<string>{31.75, -13.5}</string>
			</array>
			<array>
				<string>{-27.25, 36.5}</string>
				<string>{31.75, -13.5}</string>
				<string>{34.25, -12.5}</string>
			</array>
			<array>
				<string>{-27.25, 36.5}</string>
				<string>{34.25, -12.5}</string>
				<string>{36.25, -9.5}</string>
			</array>
			<array>
				<string>{-27.25, 36.5}</string>
				<string>{36.25, -9.5}</string>
				<string>{38.25, 1}</string>
			</array>
			<array>
				<string>{-27.25, 36.5}</string>
				<string>{38.25, 1}</string>
				<string>{39.25, 23.5}</string>
			</array>
			<array>
				<string>{-27.25, 36.5}</string>
				<string>{39.25, 23.5}</string>
				<string>{38.75, 32.5}</string>
			</array>
			<array>
				<string>{-27.25, 36.5}</string>
				<string>{38.75, 32.5}</string>
				<string>{36.75, 39}</string>
			</array>
			<array>
				<string>{-27.25, 36.5}</string>
				<string>{36.75, 39}</string>
				<string>{24.25, 43.5}</string>
			</array>
			<array>
				<string>{-27.25, 36.5}</string>
				<string>{24.25, 43.5}</string>
				<string>{9.75, 47}</string>
			</array>
			<array>
				<string>{-27.25, 36.5}</string>
				<string>{9.75, 47}</string>
				<string>{-20.25, 45.5}</string>
			</array>
			<array>
				<string>{-26.75, 42}</string>
				<string>{-27.25, 36.5}</string>
				<string>{-20.25, 45.5}</string>
			</array>
			<array>
				<string>{-26.75, 42}</string>
				<string>{-20.25, 45.5}</string>
				<string>{-24.75, 44}</string>
			</array>
			<array>
				<string>{16.25, -36}</string>
				<string>{21.25, -34}</string>
				<string>{30.75, -26.5}</string>
				<string>{31.75, -13.5}</string>
				<string>{12.25, -36.5}</string>
			</array>
			<array>
				<string>{-7.25, -38.5}</string>
				<string>{31.75, -13.5}</string>
				<string>{-27.25, 36.5}</string>
			</array>
			<array>
				<string>{-7.25, -38.5}</string>
				<string>{-27.25, 36.5}</string>
				<string>{-31.25, 33}</string>
			</array>
			<array>
				<string>{-7.25, -38.5}</string>
				<string>{-31.25, 33}</string>
				<string>{-35.75, 24.5}</string>
			</array>
			<array>
				<string>{-7.25, -38.5}</string>
				<string>{-35.75, 24.5}</string>
				<string>{-39.25, 9}</string>
			</array>
			<array>
				<string>{-7.25, -38.5}</string>
				<string>{-39.25, 9}</string>
				<string>{-39.75, -6.5}</string>
			</array>
			<array>
				<string>{-7.25, -38.5}</string>
				<string>{-39.75, -6.5}</string>
				<string>{-37.75, -19.5}</string>
			</array>
			<array>
				<string>{-7.25, -38.5}</string>
				<string>{-37.75, -19.5}</string>
				<string>{-32.75, -32}</string>
			</array>
			<array>
				<string>{-18.75, -43}</string>
				<string>{-7.25, -38.5}</string>
				<string>{-32.75, -32}</string>
			</array>
			<array>
				<string>{-18.75, -43}</string>
				<string>{-32.75, -32}</string>
				<string>{-25.75, -40.5}</string>
			</array>
			<array>
				<string>{-18.75, -43}</string>
				<string>{-25.75, -40.5}</string>
				<string>{-22.75, -42}</string>
			</array>
			<array>
				<string>{-7.25, -38.5}</string>
				<string>{-18.75, -43}</string>
				<string>{-13.25, -43}</string>
				<string>{-10.25, -41.5}</string>
			</array>
		</array>
		<key>DB0C274A-9466-4209-96DC-130685C5FFCB</key>
		<array>
			<array>
				<string>{-29.5, 27.5}</string>
				<string>{-41.5, 25}</string>
				<string>{-52.5, 20}</string>
				<string>{-54, 18.5}</string>
				<string>{-53.5, 6}</string>
				<string>{-46.5, 0}</string>
				<string>{-37, -4.5}</string>
				<string>{-7, 29.5}</string>
			</array>
			<array>
				<string>{-15, -31.5}</string>
				<string>{21.5, 28.5}</string>
				<string>{11.5, 29.5}</string>
			</array>
			<array>
				<string>{-15, -31.5}</string>
				<string>{11.5, 29.5}</string>
				<string>{-7, 29.5}</string>
			</array>
			<array>
				<string>{-15, -31.5}</string>
				<string>{-7, 29.5}</string>
				<string>{-37, -4.5}</string>
			</array>
			<array>
				<string>{-15, -31.5}</string>
				<string>{-37, -4.5}</string>
				<string>{-34.5, -13}</string>
			</array>
			<array>
				<string>{-15, -31.5}</string>
				<string>{-34.5, -13}</string>
				<string>{-31, -20.5}</string>
			</array>
			<array>
				<string>{-15, -31.5}</string>
				<string>{-31, -20.5}</string>
				<string>{-24.5, -28}</string>
			</array>
			<array>
				<string>{-15, -31.5}</string>
				<string>{-24.5, -28}</string>
				<string>{-21, -30}</string>
			</array>
			<array>
				<string>{32.5, -6.5}</string>
				<string>{33, 26}</string>
				<string>{21.5, 28.5}</string>
			</array>
			<array>
				<string>{32.5, -6.5}</string>
				<string>{21.5, 28.5}</string>
				<string>{-15, -31.5}</string>
			</array>
			<array>
				<string>{29, -18.5}</string>
				<string>{32.5, -6.5}</string>
				<string>{-15, -31.5}</string>
			</array>
			<array>
				<string>{27, -22.5}</string>
				<string>{29, -18.5}</string>
				<string>{-15, -31.5}</string>
			</array>
			<array>
				<string>{23, -27.5}</string>
				<string>{27, -22.5}</string>
				<string>{-15, -31.5}</string>
			</array>
			<array>
				<string>{17.5, -30.5}</string>
				<string>{23, -27.5}</string>
				<string>{-15, -31.5}</string>
			</array>
			<array>
				<string>{12.5, -32}</string>
				<string>{17.5, -30.5}</string>
				<string>{-15, -31.5}</string>
			</array>
			<array>
				<string>{12.5, -32}</string>
				<string>{-15, -31.5}</string>
				<string>{-14.5, -32}</string>
			</array>
			<array>
				<string>{51.5, 12.5}</string>
				<string>{47.5, 18.5}</string>
				<string>{43.5, 21.5}</string>
				<string>{33, 26}</string>
				<string>{32.5, -6.5}</string>
				<string>{45, -2}</string>
				<string>{50.5, 3.5}</string>
				<string>{52, 9}</string>
			</array>
		</array>
	</dict>
	<key>useGlobalGravity</key>
	<true/>
	<key>uuid</key>
	<string>C61D3445-EB91-468D-BB3F-DB0758242063</string>
</dict>
</plist>
