<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspect</key>
	<integer>2</integer>
	<key>backgroundColor</key>
	<string>{{1, 0.99997437000274658}, {0.99999129772186279, 1}}</string>
	<key>children</key>
	<array>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.5, 0.5}</string>
			<key>colorOverlay</key>
			<string>{{1, 1}, {1, 1}}</string>
			<key>generalPosition</key>
			<string>{0, 0}</string>
			<key>name</key>
			<string>BACK USER INTERFACE</string>
			<key>nodeType</key>
			<string>LHBackUINode</string>
			<key>parentUUID</key>
			<string>9C6D97AA-CBC5-46C3-8643-7EE3EEECB357</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1, 1}</string>
			<key>size</key>
			<string>{128, 128}</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>uuid</key>
			<string>81AF14DC-948A-4CAA-8D1E-2177AE0AA83C</string>
			<key>zOrder</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.5, 0.5}</string>
			<key>children</key>
			<array>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>canBeCut</key>
					<true/>
					<key>collideConnected</key>
					<false/>
					<key>colorOverlay</key>
					<string>{{1, 1}, {1, 1}}</string>
					<key>fadeOutDelay</key>
					<real>3</real>
					<key>length</key>
					<real>292.4228515625</real>
					<key>name</key>
					<string>cuttableRopeJoint</string>
					<key>nodeType</key>
					<string>LHRopeJoint</string>
					<key>parentUUID</key>
					<string>_GAME_WORLD_NODE_UUID_</string>
					<key>relativeImagePath</key>
					<string>/DEMO_INDIVIDUAL_IMAGES_EXAMPLE/cartoonRope.png</string>
					<key>relativePosA</key>
					<string>{-0.38191986083984375, 8.0379428863525391}</string>
					<key>relativePosB</key>
					<string>{-0.055728673934936523, -2.5323448181152344}</string>
					<key>removeAfterCut</key>
					<true/>
					<key>segments</key>
					<real>24</real>
					<key>shouldDraw</key>
					<true/>
					<key>spriteAUUID</key>
					<string>225A02BA-8FDC-43CA-93BA-A8543E86A494</string>
					<key>spriteBUUID</key>
					<string>6779E388-91DE-498E-91A8-4FFDFA699F18</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>thickness</key>
					<real>16.399999618530273</real>
					<key>useTexture</key>
					<true/>
					<key>uuid</key>
					<string>80728657-8448-46EE-9C1C-3B35073299FE</string>
					<key>uvRepetitions</key>
					<string>{1, 16}</string>
					<key>zOrder</key>
					<integer>-2</integer>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>canBeCut</key>
					<false/>
					<key>collideConnected</key>
					<false/>
					<key>colorOverlay</key>
					<string>{{0.28216943144798279, 1}, {0.28923967480659485, 1}}</string>
					<key>fadeOutDelay</key>
					<real>3</real>
					<key>length</key>
					<real>292.4228515625</real>
					<key>name</key>
					<string>noTextureRopeJoint</string>
					<key>nodeType</key>
					<string>LHRopeJoint</string>
					<key>parentUUID</key>
					<string>_GAME_WORLD_NODE_UUID_</string>
					<key>relativeImagePath</key>
					<string>/DEMO_INDIVIDUAL_IMAGES_EXAMPLE/cartoonRope.png</string>
					<key>relativePosA</key>
					<string>{-0.38191986083984375, 10.218209266662598}</string>
					<key>relativePosB</key>
					<string>{-0.055728673934993367, -6.8928778469562531}</string>
					<key>removeAfterCut</key>
					<true/>
					<key>segments</key>
					<real>24</real>
					<key>shouldDraw</key>
					<true/>
					<key>spriteAUUID</key>
					<string>CE615831-430E-4A54-BEA7-07C1E3E3963B</string>
					<key>spriteBUUID</key>
					<string>CA889409-DA2D-4397-ADD3-EA3B4F9D0F7A</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>thickness</key>
					<real>6.4000000953674316</real>
					<key>useTexture</key>
					<false/>
					<key>uuid</key>
					<string>E154DA4F-B127-4269-A7E6-5C134035BA00</string>
					<key>uvRepetitions</key>
					<string>{1, 20}</string>
					<key>zOrder</key>
					<integer>-2</integer>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.5, 0.5}</string>
					<key>colorOverlay</key>
					<string>{{1, 1}, {1, 1}}</string>
					<key>generalPosition</key>
					<string>{0.1227150771629418, 0.28282984321615345}</string>
					<key>imageFileName</key>
					<string>ropeAssets.png</string>
					<key>name</key>
					<string>thumb_tack</string>
					<key>nodePhysics</key>
					<dict>
						<key>allowSleep</key>
						<true/>
						<key>bullet</key>
						<false/>
						<key>fixedRotation</key>
						<false/>
						<key>genericFixture</key>
						<dict>
							<key>category</key>
							<integer>1</integer>
							<key>density</key>
							<real>0.10000000149011612</real>
							<key>fixtureID</key>
							<integer>0</integer>
							<key>friction</key>
							<real>0.20000000298023224</real>
							<key>mask</key>
							<integer>65535</integer>
							<key>name</key>
							<string>GenericFixture</string>
							<key>restitution</key>
							<real>0.0</real>
							<key>sensor</key>
							<false/>
						</dict>
						<key>gravityScale</key>
						<real>1</real>
						<key>shape</key>
						<integer>0</integer>
						<key>type</key>
						<integer>0</integer>
					</dict>
					<key>nodeType</key>
					<string>LHSprite</string>
					<key>parentUUID</key>
					<string>_GAME_WORLD_NODE_UUID_</string>
					<key>relativeImagePath</key>
					<string>DEMO_PUBLISH_FOLDER/</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
					<key>size</key>
					<string>{62, 72}</string>
					<key>spriteName</key>
					<string>thumb_tack</string>
					<key>spriteUUID</key>
					<string>B647FA4A-442F-4032-8164-8FEF3601430D</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>CBD4A2D8-070C-41A7-9A54-16C066A47E57</string>
					<key>zOrder</key>
					<integer>-1</integer>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.5, 0.5}</string>
					<key>colorOverlay</key>
					<string>{{1, 1}, {1, 1}}</string>
					<key>generalPosition</key>
					<string>{0.085865678482832899, 0.40657512917734839}</string>
					<key>imageFileName</key>
					<string>ropeAssets.png</string>
					<key>name</key>
					<string>candy</string>
					<key>nodePhysics</key>
					<dict>
						<key>allowSleep</key>
						<true/>
						<key>bullet</key>
						<false/>
						<key>fixedRotation</key>
						<false/>
						<key>genericFixture</key>
						<dict>
							<key>category</key>
							<integer>1</integer>
							<key>density</key>
							<real>0.10000000149011612</real>
							<key>fixtureID</key>
							<integer>0</integer>
							<key>friction</key>
							<real>0.20000000298023224</real>
							<key>mask</key>
							<integer>65535</integer>
							<key>name</key>
							<string>GenericFixture</string>
							<key>restitution</key>
							<real>0.0</real>
							<key>sensor</key>
							<false/>
						</dict>
						<key>gravityScale</key>
						<real>1</real>
						<key>shape</key>
						<integer>1</integer>
						<key>type</key>
						<integer>2</integer>
					</dict>
					<key>nodeType</key>
					<string>LHSprite</string>
					<key>parentUUID</key>
					<string>_GAME_WORLD_NODE_UUID_</string>
					<key>relativeImagePath</key>
					<string>DEMO_PUBLISH_FOLDER/</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
					<key>size</key>
					<string>{65, 61}</string>
					<key>spriteName</key>
					<string>candy</string>
					<key>spriteUUID</key>
					<string>554683CF-2615-41EF-956A-933D6F02D016</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>CE89D38C-6606-408B-9C7D-3A749C15BA20</string>
					<key>zOrder</key>
					<integer>-1</integer>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.5, 0.5}</string>
					<key>colorOverlay</key>
					<string>{{1, 1}, {1, 1}}</string>
					<key>generalPosition</key>
					<string>{0.8133853484935416, 0.24638935456859609}</string>
					<key>imageFileName</key>
					<string>ropeAssets.png</string>
					<key>name</key>
					<string>thumb_tack_1</string>
					<key>nodePhysics</key>
					<dict>
						<key>allowSleep</key>
						<true/>
						<key>bullet</key>
						<false/>
						<key>fixedRotation</key>
						<false/>
						<key>genericFixture</key>
						<dict>
							<key>category</key>
							<integer>1</integer>
							<key>density</key>
							<real>0.10000000149011612</real>
							<key>fixtureID</key>
							<integer>0</integer>
							<key>friction</key>
							<real>0.20000000298023224</real>
							<key>mask</key>
							<integer>65535</integer>
							<key>name</key>
							<string>GenericFixture</string>
							<key>restitution</key>
							<real>0.0</real>
							<key>sensor</key>
							<false/>
						</dict>
						<key>gravityScale</key>
						<real>1</real>
						<key>shape</key>
						<integer>0</integer>
						<key>type</key>
						<integer>0</integer>
					</dict>
					<key>nodeType</key>
					<string>LHSprite</string>
					<key>parentUUID</key>
					<string>_GAME_WORLD_NODE_UUID_</string>
					<key>relativeImagePath</key>
					<string>DEMO_PUBLISH_FOLDER/</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
					<key>size</key>
					<string>{62, 72}</string>
					<key>spriteName</key>
					<string>thumb_tack</string>
					<key>spriteUUID</key>
					<string>B647FA4A-442F-4032-8164-8FEF3601430D</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>225A02BA-8FDC-43CA-93BA-A8543E86A494</string>
					<key>zOrder</key>
					<integer>-1</integer>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.5, 0.5}</string>
					<key>colorOverlay</key>
					<string>{{1, 1}, {1, 1}}</string>
					<key>generalPosition</key>
					<string>{0.88552200367759382, 0.3481771462113058}</string>
					<key>imageFileName</key>
					<string>ropeAssets.png</string>
					<key>name</key>
					<string>candy_1</string>
					<key>nodePhysics</key>
					<dict>
						<key>allowSleep</key>
						<true/>
						<key>bullet</key>
						<false/>
						<key>fixedRotation</key>
						<false/>
						<key>genericFixture</key>
						<dict>
							<key>category</key>
							<integer>1</integer>
							<key>density</key>
							<real>0.10000000149011612</real>
							<key>fixtureID</key>
							<integer>0</integer>
							<key>friction</key>
							<real>0.20000000298023224</real>
							<key>mask</key>
							<integer>65535</integer>
							<key>name</key>
							<string>GenericFixture</string>
							<key>restitution</key>
							<real>0.0</real>
							<key>sensor</key>
							<false/>
						</dict>
						<key>gravityScale</key>
						<real>1</real>
						<key>shape</key>
						<integer>1</integer>
						<key>type</key>
						<integer>2</integer>
					</dict>
					<key>nodeType</key>
					<string>LHSprite</string>
					<key>parentUUID</key>
					<string>_GAME_WORLD_NODE_UUID_</string>
					<key>relativeImagePath</key>
					<string>DEMO_PUBLISH_FOLDER/</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
					<key>size</key>
					<string>{65, 61}</string>
					<key>spriteName</key>
					<string>candy</string>
					<key>spriteUUID</key>
					<string>554683CF-2615-41EF-956A-933D6F02D016</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>6779E388-91DE-498E-91A8-4FFDFA699F18</string>
					<key>zOrder</key>
					<integer>-1</integer>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.5, 0.5}</string>
					<key>colorOverlay</key>
					<string>{{1, 1}, {1, 1}}</string>
					<key>generalPosition</key>
					<string>{0.44508261108272834, 0.33108475034643209}</string>
					<key>imageFileName</key>
					<string>ropeAssets.png</string>
					<key>name</key>
					<string>thumb_tack_2</string>
					<key>nodePhysics</key>
					<dict>
						<key>allowSleep</key>
						<true/>
						<key>bullet</key>
						<false/>
						<key>fixedRotation</key>
						<false/>
						<key>genericFixture</key>
						<dict>
							<key>category</key>
							<integer>1</integer>
							<key>density</key>
							<real>0.10000000149011612</real>
							<key>fixtureID</key>
							<integer>0</integer>
							<key>friction</key>
							<real>0.20000000298023224</real>
							<key>mask</key>
							<integer>65535</integer>
							<key>name</key>
							<string>GenericFixture</string>
							<key>restitution</key>
							<real>0.0</real>
							<key>sensor</key>
							<false/>
						</dict>
						<key>gravityScale</key>
						<real>1</real>
						<key>shape</key>
						<integer>0</integer>
						<key>type</key>
						<integer>0</integer>
					</dict>
					<key>nodeType</key>
					<string>LHSprite</string>
					<key>parentUUID</key>
					<string>_GAME_WORLD_NODE_UUID_</string>
					<key>relativeImagePath</key>
					<string>DEMO_PUBLISH_FOLDER/</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
					<key>size</key>
					<string>{62, 72}</string>
					<key>spriteName</key>
					<string>thumb_tack</string>
					<key>spriteUUID</key>
					<string>B647FA4A-442F-4032-8164-8FEF3601430D</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>CE615831-430E-4A54-BEA7-07C1E3E3963B</string>
					<key>zOrder</key>
					<integer>-1</integer>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.5, 0.5}</string>
					<key>colorOverlay</key>
					<string>{{1, 1}, {1, 1}}</string>
					<key>generalPosition</key>
					<string>{0.51785233713304757, 0.26234034224873193}</string>
					<key>imageFileName</key>
					<string>ropeAssets.png</string>
					<key>name</key>
					<string>candy_2</string>
					<key>nodePhysics</key>
					<dict>
						<key>allowSleep</key>
						<true/>
						<key>bullet</key>
						<false/>
						<key>fixedRotation</key>
						<false/>
						<key>genericFixture</key>
						<dict>
							<key>category</key>
							<integer>1</integer>
							<key>density</key>
							<real>0.10000000149011612</real>
							<key>fixtureID</key>
							<integer>0</integer>
							<key>friction</key>
							<real>0.20000000298023224</real>
							<key>mask</key>
							<integer>65535</integer>
							<key>name</key>
							<string>GenericFixture</string>
							<key>restitution</key>
							<real>0.0</real>
							<key>sensor</key>
							<false/>
						</dict>
						<key>gravityScale</key>
						<real>1</real>
						<key>shape</key>
						<integer>1</integer>
						<key>type</key>
						<integer>2</integer>
					</dict>
					<key>nodeType</key>
					<string>LHSprite</string>
					<key>parentUUID</key>
					<string>_GAME_WORLD_NODE_UUID_</string>
					<key>relativeImagePath</key>
					<string>DEMO_PUBLISH_FOLDER/</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
					<key>size</key>
					<string>{65, 61}</string>
					<key>spriteName</key>
					<string>candy</string>
					<key>spriteUUID</key>
					<string>554683CF-2615-41EF-956A-933D6F02D016</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>CA889409-DA2D-4397-ADD3-EA3B4F9D0F7A</string>
					<key>zOrder</key>
					<integer>-1</integer>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>canBeCut</key>
					<false/>
					<key>collideConnected</key>
					<false/>
					<key>colorOverlay</key>
					<string>{{1, 1}, {1, 1}}</string>
					<key>fadeOutDelay</key>
					<real>3</real>
					<key>length</key>
					<real>292.4228515625</real>
					<key>name</key>
					<string>biggerZRopeJoint</string>
					<key>nodeType</key>
					<string>LHRopeJoint</string>
					<key>parentUUID</key>
					<string>_GAME_WORLD_NODE_UUID_</string>
					<key>relativeImagePath</key>
					<string>/DEMO_INDIVIDUAL_IMAGES_EXAMPLE/cartoonRope.png</string>
					<key>relativePosA</key>
					<string>{-0.38191986083984375, 10.218209266662598}</string>
					<key>relativePosB</key>
					<string>{-0.055728673934936523, -2.5323448181152344}</string>
					<key>removeAfterCut</key>
					<true/>
					<key>segments</key>
					<real>24</real>
					<key>shouldDraw</key>
					<true/>
					<key>spriteAUUID</key>
					<string>CBD4A2D8-070C-41A7-9A54-16C066A47E57</string>
					<key>spriteBUUID</key>
					<string>CE89D38C-6606-408B-9C7D-3A749C15BA20</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>thickness</key>
					<real>6.4000000953674316</real>
					<key>useTexture</key>
					<true/>
					<key>uuid</key>
					<string>32AC1254-4CA4-43F4-AC74-36A3A22CFC20</string>
					<key>uvRepetitions</key>
					<string>{1, 20}</string>
					<key>zOrder</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>colorOverlay</key>
			<string>{{1, 1}, {1, 1}}</string>
			<key>generalPosition</key>
			<string>{0, 0}</string>
			<key>name</key>
			<string>GAME WORLD</string>
			<key>nodeType</key>
			<string>LHGameWorldNode</string>
			<key>parentUUID</key>
			<string>9C6D97AA-CBC5-46C3-8643-7EE3EEECB357</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1, 1}</string>
			<key>size</key>
			<string>{128, 128}</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>uuid</key>
			<string>3E412A79-A6C2-4CF1-A802-2ADA8D7A555B</string>
			<key>zOrder</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.5, 0.5}</string>
			<key>colorOverlay</key>
			<string>{{1, 1}, {1, 1}}</string>
			<key>generalPosition</key>
			<string>{0, 0}</string>
			<key>name</key>
			<string>FRONT USER INTERFACE</string>
			<key>nodeType</key>
			<string>LHUINode</string>
			<key>parentUUID</key>
			<string>9C6D97AA-CBC5-46C3-8643-7EE3EEECB357</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1, 1}</string>
			<key>size</key>
			<string>{128, 128}</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>uuid</key>
			<string>3C42BDF4-6D9A-4D8E-B6E2-02FDE6B7C8AD</string>
			<key>zOrder</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>designResolution</key>
	<string>{960, 640}</string>
	<key>devices</key>
	<array>
		<dict>
			<key>ratio</key>
			<real>1</real>
			<key>size</key>
			<string>{960, 640}</string>
			<key>suffix</key>
			<string></string>
		</dict>
		<dict>
			<key>ratio</key>
			<real>1</real>
			<key>size</key>
			<string>{1136, 640}</string>
			<key>suffix</key>
			<string>-iphone5</string>
		</dict>
		<dict>
			<key>ratio</key>
			<real>1</real>
			<key>size</key>
			<string>{1024, 768}</string>
			<key>suffix</key>
			<string>-ipad</string>
		</dict>
		<dict>
			<key>ratio</key>
			<real>2</real>
			<key>size</key>
			<string>{2048, 1536}</string>
			<key>suffix</key>
			<string>-ipadhd</string>
		</dict>
	</array>
	<key>globalGravityDirection</key>
	<string>{0, -1}</string>
	<key>globalGravityForce</key>
	<real>8</real>
	<key>nodeType</key>
	<string>LHScene</string>
	<key>physicsBoundaries</key>
	<dict>
		<key>1136x640</key>
		<string>{{0.026689266785979271, 0.024811279028654099}, {0.95874917507171631, 0.93121337890625}}</string>
		<key>2048x1536</key>
		<string>{{0.026689266785979271, 0.024811279028654099}, {0.95874917507171631, 0.93121337890625}}</string>
		<key>960x640</key>
		<string>{{0.026689266785979271, 0.024811279028654099}, {0.95874917507171631, 0.93121337890625}}</string>
		<key>general</key>
		<string>{{0.026689266785979271, 0.024811279028654099}, {0.95874917507171631, 0.93121337890625}}</string>
	</dict>
	<key>sceneFormat</key>
	<real>1</real>
	<key>tags</key>
	<array>
		<string>DEFAULT</string>
	</array>
	<key>useGlobalGravity</key>
	<true/>
	<key>uuid</key>
	<string>9C6D97AA-CBC5-46C3-8643-7EE3EEECB357</string>
</dict>
</plist>
