<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspect</key>
	<integer>2</integer>
	<key>backgroundColor</key>
	<string>{{1, 0.99997437000274658}, {0.99999129772186279, 1}}</string>
	<key>children</key>
	<array>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.5, 0.5}</string>
			<key>colorOverlay</key>
			<string>{{1, 1}, {1, 1}}</string>
			<key>generalPosition</key>
			<string>{0, 0}</string>
			<key>name</key>
			<string>BACK USER INTERFACE</string>
			<key>nodeType</key>
			<string>LHBackUINode</string>
			<key>parentUUID</key>
			<string>BE1AEC7B-C4BE-4F4D-997C-4551F8788263</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1, 1}</string>
			<key>size</key>
			<string>{128, 128}</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>uuid</key>
			<string>9859A2ED-D298-4040-A8E0-2E7A9C57EC48</string>
			<key>zOrder</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.5, 0.5}</string>
			<key>children</key>
			<array>
				<dict>
					<key>children</key>
					<array>
						<dict>
							<key>children</key>
							<array>
								<dict>
									<key>alpha</key>
									<real>255</real>
									<key>anchor</key>
									<string>{0.5, 0.5}</string>
									<key>colorOverlay</key>
									<string>{{1, 1}, {1, 1}}</string>
									<key>generalPosition</key>
									<string>{0.70758057907223704, 0.41090943329036234}</string>
									<key>imageFileName</key>
									<string>bgrd.png</string>
									<key>name</key>
									<string>bgrd</string>
									<key>nodeType</key>
									<string>LHSprite</string>
									<key>parentUUID</key>
									<string>831E8AA7-2AAC-44E1-A376-0C2D2B26F06C</string>
									<key>relativeImagePath</key>
									<string>DEMO_INDIVIDUAL_IMAGES_EXAMPLE/</string>
									<key>rotation</key>
									<real>0.0</real>
									<key>scale</key>
									<string>{1, 1}</string>
									<key>size</key>
									<string>{960, 640}</string>
									<key>tags</key>
									<array>
										<string>DEFAULT</string>
									</array>
									<key>uuid</key>
									<string>342F2A23-E1A6-4F3A-B21D-E2A0319AE422</string>
									<key>zOrder</key>
									<integer>0</integer>
								</dict>
							</array>
							<key>generalPosition</key>
							<string>{0.066666666666666666, 0.10000000000000001}</string>
							<key>name</key>
							<string>Untitled_1</string>
							<key>nodeType</key>
							<string>LHParallaxLayer</string>
							<key>parentUUID</key>
							<string>6E774B48-EFA3-4BC3-9C9E-CB0D9318772A</string>
							<key>tags</key>
							<array>
								<string>DEFAULT</string>
							</array>
							<key>uuid</key>
							<string>831E8AA7-2AAC-44E1-A376-0C2D2B26F06C</string>
							<key>xRatio</key>
							<real>1</real>
							<key>yRatio</key>
							<real>1</real>
							<key>zOrder</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>children</key>
							<array>
								<dict>
									<key>alpha</key>
									<real>255</real>
									<key>anchor</key>
									<string>{0.5, 0.5}</string>
									<key>colorOverlay</key>
									<string>{{1, 1}, {1, 1}}</string>
									<key>generalPosition</key>
									<string>{0.26673503073301014, -1.067597523096083}</string>
									<key>imageFileName</key>
									<string>objects.png</string>
									<key>name</key>
									<string>object_statue_6</string>
									<key>nodeType</key>
									<string>LHSprite</string>
									<key>parentUUID</key>
									<string>67DCF4C6-FB3E-4710-8E88-BDD303BDDD15</string>
									<key>relativeImagePath</key>
									<string>DEMO_PUBLISH_FOLDER/</string>
									<key>rotation</key>
									<real>0.0</real>
									<key>scale</key>
									<string>{1, 1}</string>
									<key>size</key>
									<string>{105, 148}</string>
									<key>spriteName</key>
									<string>object_statue</string>
									<key>spriteUUID</key>
									<string>0DB4639A-8D34-4D83-8FBD-20753577F85A</string>
									<key>tags</key>
									<array>
										<string>DEFAULT</string>
									</array>
									<key>uuid</key>
									<string>55745EC3-12A8-421D-B4FC-EF43EF4EBF53</string>
									<key>zOrder</key>
									<integer>0</integer>
								</dict>
								<dict>
									<key>alpha</key>
									<real>255</real>
									<key>anchor</key>
									<string>{0.5, 0.5}</string>
									<key>colorOverlay</key>
									<string>{{1, 1}, {1, 1}}</string>
									<key>generalPosition</key>
									<string>{0.26673503073301014, -0.72534428844405741}</string>
									<key>imageFileName</key>
									<string>objects.png</string>
									<key>name</key>
									<string>object_statue_5</string>
									<key>nodeType</key>
									<string>LHSprite</string>
									<key>parentUUID</key>
									<string>67DCF4C6-FB3E-4710-8E88-BDD303BDDD15</string>
									<key>relativeImagePath</key>
									<string>DEMO_PUBLISH_FOLDER/</string>
									<key>rotation</key>
									<real>0.0</real>
									<key>scale</key>
									<string>{1, 1}</string>
									<key>size</key>
									<string>{105, 148}</string>
									<key>spriteName</key>
									<string>object_statue</string>
									<key>spriteUUID</key>
									<string>0DB4639A-8D34-4D83-8FBD-20753577F85A</string>
									<key>tags</key>
									<array>
										<string>DEFAULT</string>
									</array>
									<key>uuid</key>
									<string>4B594005-1A76-4FDE-8BA0-2DE88EDE05BC</string>
									<key>zOrder</key>
									<integer>0</integer>
								</dict>
								<dict>
									<key>alpha</key>
									<real>255</real>
									<key>anchor</key>
									<string>{0.5, 0.5}</string>
									<key>colorOverlay</key>
									<string>{{1, 1}, {1, 1}}</string>
									<key>generalPosition</key>
									<string>{0.27353841629713621, -0.3135412628558697}</string>
									<key>imageFileName</key>
									<string>objects.png</string>
									<key>name</key>
									<string>object_statue_4</string>
									<key>nodeType</key>
									<string>LHSprite</string>
									<key>parentUUID</key>
									<string>67DCF4C6-FB3E-4710-8E88-BDD303BDDD15</string>
									<key>relativeImagePath</key>
									<string>DEMO_PUBLISH_FOLDER/</string>
									<key>rotation</key>
									<real>0.0</real>
									<key>scale</key>
									<string>{1, 1}</string>
									<key>size</key>
									<string>{105, 148}</string>
									<key>spriteName</key>
									<string>object_statue</string>
									<key>spriteUUID</key>
									<string>0DB4639A-8D34-4D83-8FBD-20753577F85A</string>
									<key>tags</key>
									<array>
										<string>DEFAULT</string>
									</array>
									<key>uuid</key>
									<string>CA9A5E15-2B5F-42BD-8AEE-75F4B23A5011</string>
									<key>zOrder</key>
									<integer>0</integer>
								</dict>
								<dict>
									<key>alpha</key>
									<real>255</real>
									<key>anchor</key>
									<string>{0.5, 0.5}</string>
									<key>colorOverlay</key>
									<string>{{1, 1}, {1, 1}}</string>
									<key>generalPosition</key>
									<string>{0.2820426482522938, 0.94765871565177806}</string>
									<key>imageFileName</key>
									<string>objects.png</string>
									<key>name</key>
									<string>object_statue_3</string>
									<key>nodeType</key>
									<string>LHSprite</string>
									<key>parentUUID</key>
									<string>67DCF4C6-FB3E-4710-8E88-BDD303BDDD15</string>
									<key>relativeImagePath</key>
									<string>DEMO_PUBLISH_FOLDER/</string>
									<key>rotation</key>
									<real>0.0</real>
									<key>scale</key>
									<string>{1, 1}</string>
									<key>size</key>
									<string>{105, 148}</string>
									<key>spriteName</key>
									<string>object_statue</string>
									<key>spriteUUID</key>
									<string>0DB4639A-8D34-4D83-8FBD-20753577F85A</string>
									<key>tags</key>
									<array>
										<string>DEFAULT</string>
									</array>
									<key>uuid</key>
									<string>E4363186-FBEA-493E-ACAB-5582D7F268AF</string>
									<key>zOrder</key>
									<integer>0</integer>
								</dict>
								<dict>
									<key>alpha</key>
									<real>255</real>
									<key>anchor</key>
									<string>{0.5, 0.5}</string>
									<key>colorOverlay</key>
									<string>{{1, 1}, {1, 1}}</string>
									<key>generalPosition</key>
									<string>{0.29513021364012576, 0.60479493928287409}</string>
									<key>imageFileName</key>
									<string>objects.png</string>
									<key>name</key>
									<string>object_statue_2</string>
									<key>nodeType</key>
									<string>LHSprite</string>
									<key>parentUUID</key>
									<string>67DCF4C6-FB3E-4710-8E88-BDD303BDDD15</string>
									<key>relativeImagePath</key>
									<string>DEMO_PUBLISH_FOLDER/</string>
									<key>rotation</key>
									<real>0.0</real>
									<key>scale</key>
									<string>{1, 1}</string>
									<key>size</key>
									<string>{105, 148}</string>
									<key>spriteName</key>
									<string>object_statue</string>
									<key>spriteUUID</key>
									<string>0DB4639A-8D34-4D83-8FBD-20753577F85A</string>
									<key>tags</key>
									<array>
										<string>DEFAULT</string>
									</array>
									<key>uuid</key>
									<string>3E7ECC2F-463E-489F-822B-A970314ABB04</string>
									<key>zOrder</key>
									<integer>0</integer>
								</dict>
								<dict>
									<key>alpha</key>
									<real>255</real>
									<key>anchor</key>
									<string>{0.5, 0.5}</string>
									<key>colorOverlay</key>
									<string>{{1, 1}, {1, 1}}</string>
									<key>generalPosition</key>
									<string>{0.28891764873308906, 0.31317138683953089}</string>
									<key>imageFileName</key>
									<string>objects.png</string>
									<key>name</key>
									<string>object_statue_1</string>
									<key>nodeType</key>
									<string>LHSprite</string>
									<key>parentUUID</key>
									<string>67DCF4C6-FB3E-4710-8E88-BDD303BDDD15</string>
									<key>relativeImagePath</key>
									<string>DEMO_PUBLISH_FOLDER/</string>
									<key>rotation</key>
									<real>0.0</real>
									<key>scale</key>
									<string>{1, 1}</string>
									<key>size</key>
									<string>{105, 148}</string>
									<key>spriteName</key>
									<string>object_statue</string>
									<key>spriteUUID</key>
									<string>0DB4639A-8D34-4D83-8FBD-20753577F85A</string>
									<key>tags</key>
									<array>
										<string>DEFAULT</string>
									</array>
									<key>uuid</key>
									<string>745CEB78-74F4-4BB0-87E7-FBE6DE69A953</string>
									<key>zOrder</key>
									<integer>0</integer>
								</dict>
								<dict>
									<key>alpha</key>
									<real>255</real>
									<key>anchor</key>
									<string>{0.5, 0.5}</string>
									<key>colorOverlay</key>
									<string>{{1, 1}, {1, 1}}</string>
									<key>generalPosition</key>
									<string>{0.28617839052943356, 0.040964360062207564}</string>
									<key>imageFileName</key>
									<string>objects.png</string>
									<key>name</key>
									<string>object_statue</string>
									<key>nodeType</key>
									<string>LHSprite</string>
									<key>parentUUID</key>
									<string>67DCF4C6-FB3E-4710-8E88-BDD303BDDD15</string>
									<key>relativeImagePath</key>
									<string>DEMO_PUBLISH_FOLDER/</string>
									<key>rotation</key>
									<real>0.0</real>
									<key>scale</key>
									<string>{1, 1}</string>
									<key>size</key>
									<string>{105, 148}</string>
									<key>spriteName</key>
									<string>object_statue</string>
									<key>spriteUUID</key>
									<string>0DB4639A-8D34-4D83-8FBD-20753577F85A</string>
									<key>tags</key>
									<array>
										<string>DEFAULT</string>
									</array>
									<key>uuid</key>
									<string>46F60BD8-6CD2-4F5F-8255-DEAE3223F81A</string>
									<key>zOrder</key>
									<integer>0</integer>
								</dict>
							</array>
							<key>generalPosition</key>
							<string>{0.066666666666666666, 0.10000000000000001}</string>
							<key>name</key>
							<string>Untitled</string>
							<key>nodeType</key>
							<string>LHParallaxLayer</string>
							<key>parentUUID</key>
							<string>6E774B48-EFA3-4BC3-9C9E-CB0D9318772A</string>
							<key>tags</key>
							<array>
								<string>DEFAULT</string>
							</array>
							<key>uuid</key>
							<string>67DCF4C6-FB3E-4710-8E88-BDD303BDDD15</string>
							<key>xRatio</key>
							<real>1</real>
							<key>yRatio</key>
							<real>0.60000002384185791</real>
							<key>zOrder</key>
							<integer>0</integer>
						</dict>
					</array>
					<key>followedNodeUUID</key>
					<string>67E079E1-FE8C-48DE-B1FA-98C4766BDF14</string>
					<key>generalPosition</key>
					<string>{-0.27424724573890369, -0.010909433290362359}</string>
					<key>name</key>
					<string>UntitledParallax</string>
					<key>nodeType</key>
					<string>LHParallax</string>
					<key>parentUUID</key>
					<string>_GAME_WORLD_NODE_UUID_</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>6E774B48-EFA3-4BC3-9C9E-CB0D9318772A</string>
					<key>zOrder</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.5, 0.5}</string>
					<key>animations</key>
					<array>
						<dict>
							<key>active</key>
							<true/>
							<key>fps</key>
							<integer>24</integer>
							<key>name</key>
							<string>test</string>
							<key>properties</key>
							<dict>
								<key>Position</key>
								<dict>
									<key>Frames</key>
									<array>
										<dict>
											<key>frameIndex</key>
											<integer>0</integer>
											<key>positions</key>
											<dict>
												<key>BF21B296-440C-4694-BE41-6C8CEAA717D3</key>
												<string>{480, 320}</string>
											</dict>
										</dict>
										<dict>
											<key>frameIndex</key>
											<integer>259</integer>
											<key>positions</key>
											<dict>
												<key>BF21B296-440C-4694-BE41-6C8CEAA717D3</key>
												<string>{480, -414.13250732421875}</string>
											</dict>
										</dict>
										<dict>
											<key>frameIndex</key>
											<integer>259</integer>
											<key>positions</key>
											<dict>
												<key>BF21B296-440C-4694-BE41-6C8CEAA717D3</key>
												<string>{480, -414.13250732421875}</string>
											</dict>
										</dict>
									</array>
									<key>type</key>
									<string>LHPositionProperty</string>
								</dict>
							</dict>
							<key>repetitions</key>
							<integer>0</integer>
							<key>totalFrames</key>
							<integer>260</integer>
						</dict>
					</array>
					<key>colorOverlay</key>
					<string>{{1, 1}, {1, 1}}</string>
					<key>generalPosition</key>
					<string>{0.5, 0.5}</string>
					<key>imageFileName</key>
					<string>objects.png</string>
					<key>name</key>
					<string>object_hat</string>
					<key>nodeType</key>
					<string>LHSprite</string>
					<key>parentUUID</key>
					<string>_GAME_WORLD_NODE_UUID_</string>
					<key>relativeImagePath</key>
					<string>DEMO_PUBLISH_FOLDER/</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
					<key>size</key>
					<string>{122, 75}</string>
					<key>spriteName</key>
					<string>object_hat</string>
					<key>spriteUUID</key>
					<string>A0CC7494-203E-4C79-A14A-ECA50F1FBA3D</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>BF21B296-440C-4694-BE41-6C8CEAA717D3</string>
					<key>zOrder</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>activeCamera</key>
					<true/>
					<key>followedNodeUUID</key>
					<string>BF21B296-440C-4694-BE41-6C8CEAA717D3</string>
					<key>generalPosition</key>
					<string>{0.5, 0.5}</string>
					<key>name</key>
					<string>UntitledCamera</string>
					<key>nodeType</key>
					<string>LHCamera</string>
					<key>parentUUID</key>
					<string>_GAME_WORLD_NODE_UUID_</string>
					<key>restrictToGameWorld</key>
					<false/>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>67E079E1-FE8C-48DE-B1FA-98C4766BDF14</string>
				</dict>
			</array>
			<key>colorOverlay</key>
			<string>{{1, 1}, {1, 1}}</string>
			<key>generalPosition</key>
			<string>{0, 0}</string>
			<key>name</key>
			<string>GAME WORLD</string>
			<key>nodeType</key>
			<string>LHGameWorldNode</string>
			<key>parentUUID</key>
			<string>BE1AEC7B-C4BE-4F4D-997C-4551F8788263</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1, 1}</string>
			<key>size</key>
			<string>{128, 128}</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>uuid</key>
			<string>68BEFB4D-660F-4AD2-9882-77CA4496674A</string>
			<key>zOrder</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.5, 0.5}</string>
			<key>colorOverlay</key>
			<string>{{1, 1}, {1, 1}}</string>
			<key>generalPosition</key>
			<string>{0, 0}</string>
			<key>name</key>
			<string>FRONT USER INTERFACE</string>
			<key>nodeType</key>
			<string>LHUINode</string>
			<key>parentUUID</key>
			<string>BE1AEC7B-C4BE-4F4D-997C-4551F8788263</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1, 1}</string>
			<key>size</key>
			<string>{128, 128}</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>uuid</key>
			<string>2BB9A651-0A3A-4401-B7BD-F0E0F00700D9</string>
			<key>zOrder</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>designResolution</key>
	<string>{960, 640}</string>
	<key>devices</key>
	<array>
		<dict>
			<key>ratio</key>
			<real>1</real>
			<key>size</key>
			<string>{960, 640}</string>
			<key>suffix</key>
			<string></string>
		</dict>
		<dict>
			<key>ratio</key>
			<real>1</real>
			<key>size</key>
			<string>{1136, 640}</string>
			<key>suffix</key>
			<string>-iphone5</string>
		</dict>
		<dict>
			<key>ratio</key>
			<real>1</real>
			<key>size</key>
			<string>{1024, 768}</string>
			<key>suffix</key>
			<string>-ipad</string>
		</dict>
		<dict>
			<key>ratio</key>
			<real>2</real>
			<key>size</key>
			<string>{2048, 1536}</string>
			<key>suffix</key>
			<string>-ipadhd</string>
		</dict>
	</array>
	<key>globalGravityDirection</key>
	<string>{0, -1}</string>
	<key>globalGravityForce</key>
	<real>8</real>
	<key>nodeType</key>
	<string>LHScene</string>
	<key>sceneFormat</key>
	<real>1</real>
	<key>tags</key>
	<array>
		<string>DEFAULT</string>
	</array>
	<key>useGlobalGravity</key>
	<true/>
	<key>uuid</key>
	<string>BE1AEC7B-C4BE-4F4D-997C-4551F8788263</string>
</dict>
</plist>
