<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspect</key>
	<integer>0</integer>
	<key>backgroundColor</key>
	<string>{{1, 0.99997437000274658}, {0.99999129772186279, 1}}</string>
	<key>children</key>
	<array>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.5, 0.5}</string>
			<key>children</key>
			<array>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.5, 0.5}</string>
					<key>colorOverlay</key>
					<string>{{1, 1}, {1, 1}}</string>
					<key>generalPosition</key>
					<string>{0.60953906327250706, 0.1677536702602575}</string>
					<key>imageFileName</key>
					<string>objects.png</string>
					<key>name</key>
					<string>object_banana_1_3</string>
					<key>nodePhysics</key>
					<dict>
						<key>allowSleep</key>
						<true/>
						<key>bullet</key>
						<false/>
						<key>fixedRotation</key>
						<false/>
						<key>fixtureUUID</key>
						<string>7CCCA838-5B0F-4590-83FA-A7AF6F0B7AA9</string>
						<key>genericFixture</key>
						<dict>
							<key>category</key>
							<integer>1</integer>
							<key>density</key>
							<real>0.10000000149011612</real>
							<key>fixtureID</key>
							<integer>0</integer>
							<key>friction</key>
							<real>0.20000000298023224</real>
							<key>mask</key>
							<integer>65535</integer>
							<key>name</key>
							<string>GenericFixture</string>
							<key>restitution</key>
							<real>0.0</real>
							<key>sensor</key>
							<false/>
						</dict>
						<key>gravityScale</key>
						<real>1</real>
						<key>shape</key>
						<integer>5</integer>
						<key>type</key>
						<integer>0</integer>
					</dict>
					<key>nodeType</key>
					<string>LHSprite</string>
					<key>parentUUID</key>
					<string>_GAME_WORLD_NODE_UUID_</string>
					<key>relativeImagePath</key>
					<string>DEMO_PUBLISH_FOLDER/</string>
					<key>rotation</key>
					<real>225</real>
					<key>scale</key>
					<string>{1, 1}</string>
					<key>size</key>
					<string>{92, 64}</string>
					<key>spriteName</key>
					<string>object_banana</string>
					<key>spriteUUID</key>
					<string>FAE55543-0B9F-4B04-A86D-BAB025D0B01C</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>5389A309-4D26-4498-9037-E5DA5B2088C8</string>
					<key>zOrder</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.5, 0.5}</string>
					<key>colorOverlay</key>
					<string>{{1, 1}, {1, 1}}</string>
					<key>generalPosition</key>
					<string>{0.66282358186522472, 0.22162396927561262}</string>
					<key>imageFileName</key>
					<string>objects.png</string>
					<key>name</key>
					<string>object_banana_1_1_2</string>
					<key>nodePhysics</key>
					<dict>
						<key>allowSleep</key>
						<true/>
						<key>bullet</key>
						<false/>
						<key>fixedRotation</key>
						<false/>
						<key>fixtureUUID</key>
						<string>7CCCA838-5B0F-4590-83FA-A7AF6F0B7AA9</string>
						<key>genericFixture</key>
						<dict>
							<key>category</key>
							<integer>1</integer>
							<key>density</key>
							<real>0.10000000149011612</real>
							<key>fixtureID</key>
							<integer>0</integer>
							<key>friction</key>
							<real>0.20000000298023224</real>
							<key>mask</key>
							<integer>65535</integer>
							<key>name</key>
							<string>GenericFixture</string>
							<key>restitution</key>
							<real>0.0</real>
							<key>sensor</key>
							<false/>
						</dict>
						<key>gravityScale</key>
						<real>1</real>
						<key>shape</key>
						<integer>5</integer>
						<key>type</key>
						<integer>0</integer>
					</dict>
					<key>nodeType</key>
					<string>LHSprite</string>
					<key>parentUUID</key>
					<string>_GAME_WORLD_NODE_UUID_</string>
					<key>relativeImagePath</key>
					<string>DEMO_PUBLISH_FOLDER/</string>
					<key>rotation</key>
					<real>45</real>
					<key>scale</key>
					<string>{1, 1}</string>
					<key>size</key>
					<string>{92, 64}</string>
					<key>spriteName</key>
					<string>object_banana</string>
					<key>spriteUUID</key>
					<string>FAE55543-0B9F-4B04-A86D-BAB025D0B01C</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>3228213C-092C-47F2-BC25-C370CE96E1B2</string>
					<key>zOrder</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.5, 0.5}</string>
					<key>colorOverlay</key>
					<string>{{1, 1}, {1, 1}}</string>
					<key>generalPosition</key>
					<string>{0.52683484154362836, 0.13701695342938719}</string>
					<key>imageFileName</key>
					<string>objects.png</string>
					<key>name</key>
					<string>object_banana_2</string>
					<key>nodePhysics</key>
					<dict>
						<key>allowSleep</key>
						<true/>
						<key>bullet</key>
						<false/>
						<key>fixedRotation</key>
						<false/>
						<key>fixtureUUID</key>
						<string>7CCCA838-5B0F-4590-83FA-A7AF6F0B7AA9</string>
						<key>genericFixture</key>
						<dict>
							<key>category</key>
							<integer>1</integer>
							<key>density</key>
							<real>0.10000000149011612</real>
							<key>fixtureID</key>
							<integer>0</integer>
							<key>friction</key>
							<real>0.20000000298023224</real>
							<key>mask</key>
							<integer>65535</integer>
							<key>name</key>
							<string>GenericFixture</string>
							<key>restitution</key>
							<real>0.0</real>
							<key>sensor</key>
							<false/>
						</dict>
						<key>gravityScale</key>
						<real>1</real>
						<key>shape</key>
						<integer>5</integer>
						<key>type</key>
						<integer>0</integer>
					</dict>
					<key>nodeType</key>
					<string>LHSprite</string>
					<key>parentUUID</key>
					<string>_GAME_WORLD_NODE_UUID_</string>
					<key>relativeImagePath</key>
					<string>DEMO_PUBLISH_FOLDER/</string>
					<key>rotation</key>
					<real>45</real>
					<key>scale</key>
					<string>{1, 1}</string>
					<key>size</key>
					<string>{92, 64}</string>
					<key>spriteName</key>
					<string>object_banana</string>
					<key>spriteUUID</key>
					<string>FAE55543-0B9F-4B04-A86D-BAB025D0B01C</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>33C84B33-9ED4-4334-9F7B-7590D49E8C3D</string>
					<key>zOrder</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.5, 0.5}</string>
					<key>colorOverlay</key>
					<string>{{1, 1}, {1, 1}}</string>
					<key>generalPosition</key>
					<string>{0.34677851986544045, 0.13590375085708128}</string>
					<key>imageFileName</key>
					<string>objects.png</string>
					<key>name</key>
					<string>object_banana_2_1</string>
					<key>nodePhysics</key>
					<dict>
						<key>allowSleep</key>
						<true/>
						<key>bullet</key>
						<false/>
						<key>fixedRotation</key>
						<false/>
						<key>fixtureUUID</key>
						<string>7CCCA838-5B0F-4590-83FA-A7AF6F0B7AA9</string>
						<key>genericFixture</key>
						<dict>
							<key>category</key>
							<integer>1</integer>
							<key>density</key>
							<real>0.10000000149011612</real>
							<key>fixtureID</key>
							<integer>0</integer>
							<key>friction</key>
							<real>0.20000000298023224</real>
							<key>mask</key>
							<integer>65535</integer>
							<key>name</key>
							<string>GenericFixture</string>
							<key>restitution</key>
							<real>0.0</real>
							<key>sensor</key>
							<false/>
						</dict>
						<key>gravityScale</key>
						<real>1</real>
						<key>shape</key>
						<integer>5</integer>
						<key>type</key>
						<integer>0</integer>
					</dict>
					<key>nodeType</key>
					<string>LHSprite</string>
					<key>parentUUID</key>
					<string>_GAME_WORLD_NODE_UUID_</string>
					<key>relativeImagePath</key>
					<string>DEMO_PUBLISH_FOLDER/</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
					<key>size</key>
					<string>{92, 64}</string>
					<key>spriteName</key>
					<string>object_banana</string>
					<key>spriteUUID</key>
					<string>FAE55543-0B9F-4B04-A86D-BAB025D0B01C</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>7658CBD4-4B62-42A8-B5A2-1A69DB2F77C4</string>
					<key>zOrder</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>colorOverlay</key>
			<string>{{1, 1}, {1, 1}}</string>
			<key>generalPosition</key>
			<string>{0, 0}</string>
			<key>name</key>
			<string>GAME WORLD</string>
			<key>nodeType</key>
			<string>LHGameWorldNode</string>
			<key>parentUUID</key>
			<string>A98274C0-424B-48D8-9904-8AD631CFD184</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1, 1}</string>
			<key>size</key>
			<string>{128, 128}</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>uuid</key>
			<string>85DF00B5-57D6-49C9-8B47-A204D7582855</string>
			<key>zOrder</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.5, 0.5}</string>
			<key>colorOverlay</key>
			<string>{{1, 1}, {1, 1}}</string>
			<key>generalPosition</key>
			<string>{0, 0}</string>
			<key>name</key>
			<string>USER INTERFACE</string>
			<key>nodeType</key>
			<string>LHUINode</string>
			<key>parentUUID</key>
			<string>A98274C0-424B-48D8-9904-8AD631CFD184</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1, 1}</string>
			<key>size</key>
			<string>{128, 128}</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>uuid</key>
			<string>80A6E31A-D115-41D8-9695-732BFF23D848</string>
			<key>zOrder</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>designResolution</key>
	<string>{960, 640}</string>
	<key>devices</key>
	<array>
		<dict>
			<key>ratio</key>
			<real>1</real>
			<key>size</key>
			<string>{960, 640}</string>
			<key>suffix</key>
			<string></string>
		</dict>
		<dict>
			<key>ratio</key>
			<real>1</real>
			<key>size</key>
			<string>{1136, 640}</string>
			<key>suffix</key>
			<string>-iphone5</string>
		</dict>
		<dict>
			<key>ratio</key>
			<real>1</real>
			<key>size</key>
			<string>{1024, 768}</string>
			<key>suffix</key>
			<string>-ipad</string>
		</dict>
		<dict>
			<key>ratio</key>
			<real>2</real>
			<key>size</key>
			<string>{2048, 1536}</string>
			<key>suffix</key>
			<string>-ipadhd</string>
		</dict>
	</array>
	<key>globalGravityDirection</key>
	<string>{0, -1}</string>
	<key>globalGravityForce</key>
	<real>8</real>
	<key>nodeType</key>
	<string>LHScene</string>
	<key>physicsBoundaries</key>
	<dict>
		<key>960x640</key>
		<string>{{0, 0}, {1, 1}}</string>
		<key>general</key>
		<string>{{0, 0}, {1, 1}}</string>
	</dict>
	<key>sceneFormat</key>
	<integer>1</integer>
	<key>tags</key>
	<array>
		<string>DEFAULT</string>
	</array>
	<key>tracedFixtures</key>
	<dict>
		<key>7CCCA838-5B0F-4590-83FA-A7AF6F0B7AA9</key>
		<array>
			<array>
				<string>{34.75, -27.75}</string>
				<string>{35.25, -28.25}</string>
				<string>{38.75, -26.75}</string>
				<string>{40.25, -22.75}</string>
			</array>
			<array>
				<string>{26.25, -19.75}</string>
				<string>{32.75, -27.25}</string>
				<string>{34.75, -27.75}</string>
				<string>{40.25, -22.75}</string>
				<string>{40.25, -17.75}</string>
				<string>{37.25, -14.25}</string>
				<string>{27.25, -12.25}</string>
			</array>
			<array>
				<string>{17.25, -1.75}</string>
				<string>{27.25, -12.25}</string>
				<string>{37.25, -14.25}</string>
				<string>{38.25, 5.25}</string>
				<string>{34.25, 12.25}</string>
				<string>{27.75, 18.75}</string>
			</array>
			<array>
				<string>{7.25, 3.25}</string>
				<string>{17.25, -1.75}</string>
				<string>{27.75, 18.75}</string>
				<string>{22.25, 22.25}</string>
				<string>{16.25, 24.75}</string>
				<string>{6.25, 26.75}</string>
			</array>
			<array>
				<string>{1.75, 4.25}</string>
				<string>{7.25, 3.25}</string>
				<string>{6.25, 26.75}</string>
				<string>{-4.25, 26.75}</string>
			</array>
			<array>
				<string>{-6.75, 3.75}</string>
				<string>{1.75, 4.25}</string>
				<string>{-4.25, 26.75}</string>
				<string>{-15.25, 24.75}</string>
				<string>{-23.75, 21.25}</string>
			</array>
			<array>
				<string>{-33.75, -7.75}</string>
				<string>{-6.75, 3.75}</string>
				<string>{-23.75, 21.25}</string>
			</array>
			<array>
				<string>{-33.75, -7.75}</string>
				<string>{-23.75, 21.25}</string>
				<string>{-29.75, 17.25}</string>
			</array>
			<array>
				<string>{-33.75, -7.75}</string>
				<string>{-29.75, 17.25}</string>
				<string>{-37.25, 8.75}</string>
			</array>
			<array>
				<string>{-33.75, -7.75}</string>
				<string>{-37.25, 8.75}</string>
				<string>{-40.75, 0.25}</string>
			</array>
			<array>
				<string>{-33.75, -7.75}</string>
				<string>{-40.75, 0.25}</string>
				<string>{-40.75, -3.75}</string>
			</array>
			<array>
				<string>{-33.75, -7.75}</string>
				<string>{-40.75, -3.75}</string>
				<string>{-38.75, -6.25}</string>
			</array>
			<array>
				<string>{-36.75, -7.75}</string>
				<string>{-33.75, -7.75}</string>
				<string>{-38.75, -6.25}</string>
			</array>
		</array>
	</dict>
	<key>useGlobalGravity</key>
	<true/>
	<key>uuid</key>
	<string>A98274C0-424B-48D8-9904-8AD631CFD184</string>
</dict>
</plist>
